<div id="conditions_show" class="container">
</div>
<div id="conditions_show_summary" role="tabpanel" class="tab-pane active  container results_curation_summary">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="padding-top-xs">
        <%= render 'shared/subscribable_entity_header', entity: @condition, term_id: @condition.label %>

        <strong><%= @term_label %></strong>
        </h2>
        <%= render 'condition_facts' %>

      </div>
    </div>
    <div class="col-sm-12">
      <div class="">
        <ul class="nav nav-tabs">        
          <li class="active">
            <a href="#summary">
              ClinGen's Curation Summaries
            </a>
          </li> 
          <li class="">
            <%= link_to "External Genomic Resources", condition_external_resources_conditions_path(@condition) %>
          </li>
        </ul>
        <div class="panel panel-default">
          <div class="panel-heading" id='results_curation_summary_heading'>
            
            
            <div class="row"><div class="col-sm-2">
              Condition
            </div>
            <div class="col-sm-10 ">
              <span class="border-left">ClinGen Curation Results</span>
            </div>
            </div>
          </div>
          <div id='results_curation_summary_details' class="panel-body results_curation_summary_details">
            <% if @genes.present? %>
              <% @genes.each do |g| %>
              <%= render 'gene_detail', gene: g %>
              <hr class="results_curation_summary_details_spacer" />
              <% end %>
            <% else %>
              <div class="alert alert-info text-center" role="alert">
                <strong><%= @condition.label %></strong> has not been curated.  <%= link_to "ClinGen compiled a list of external genomic resources", condition_external_resources_conditions_path(@condition) %> with direct links to information about <%= @condition.label %>.
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
