<div id="conditions_show" class="container">
</div>
<div id="conditions_show_summary" role="tabpanel" class="tab-pane active  container results_curation_summary">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="padding-top-xs">
        <%= render 'shared/agent_links_show_views', term_id: @condition.label %>

        <strong><%= @condition.label %></strong>
        </h2>
        <%= render 'condition_facts' %>

      </div>
    </div>
    <div class="col-sm-12">
      <div class="">
        <ul class="nav nav-tabs">        
          <li class="active">
            <a href="#summary">
              ClinGen's <%= @condition.label %> Curation Summaries
            </a>
          </li> 
          <li class="">
            <a href="#infobutton">
              External Genomic Resources <span class="badge">#####</span>
            </a>
          </li>
        </ul>
        <div class="panel panel-default">
          <div class="panel-heading" id='results_curation_summary_heading'>
            
            
            <div class="row"><div class="col-sm-2">
              Condition
            </div>
            <div class="col-sm-10 ">
              <span class="border-left">ClinGen Curation Results</span>
            </div>
            </div>
          </div>
          <div id='results_curation_summary_details' class="panel-body results_curation_summary_details">
            <% @genes.each do |g| %>
            <%= render 'gene_detail', gene: g %>
            <hr class="results_curation_summary_details_spacer" />
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
