<div id="genes_show" class="container">
  
</div>
<div id="genes_show_summary" role="tabpanel" class="tab-pane active  container results_curation_summary">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="padding-top-xs">
        <%= render 'shared/agent_links_show_views' %>

        <strong><%= @gene.symbol %></strong>
        </h2>
        <%= render 'genes/gene_facts' %>

      </div>
    </div>
    <div class="col-sm-12">
      <div class="">
        <ul class="nav nav-tabs">        
          <li>
            <%= link_to gene_path(@gene), :class => ""  do %>
    	        ClinGen's Curation Summaries
    	      <% end %>
          </li> 
          <li class="active">
            <%= link_to "External Genomic Resources", gene_external_resources_genes_path(@gene) %>
          </li>
        </ul>
        <div class="panel panel-default">
          <div class="panel-heading" id='results_curation_summary_heading'>
            <div class="row">
            	<div class="col-sm-12">
	              External Resources
	            </div>
	          </div>
          </div>
          <div id='results_curation_summary_details' class="panel-body results_curation_summary_details">

            <%= gene_medgen_genetics_summary("link", @gene.symbol) %><br>
            <%= gene_genetic_practice_guidelines("link", @gene.symbol) %><br>
            <%= gene_omim("link", @gene.symbol) %><br>
            <%= gene_genetics_home_reference("link", @gene.symbol) %><br>
            <%= gene_gene_reviews("link", @gene.symbol) %><br>
            <%= gene_clinvar("link", @gene.symbol) %><br>
            <%= gene_clinvar_acmg_variants("link", @gene.symbol) %><br>
            <%= gene_1000_enomes("link", @gene.symbol) %><br>
            <%= gene_ncbi_browser("link", @gene.symbol) %><br>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
