<div id="genes_show" class="container">
  
</div>
<div id="genes_show_summary" role="tabpanel" class="tab-pane active  container results_curation_summary">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="padding-top-xs">
        <%= render 'shared/subscribable_entity_header', entity: @gene %>

        <strong><%= @gene.symbol %></strong>
        </h2>
        <%= render 'genes/gene_facts' %>

      </div>
    </div>
    <div class="col-sm-12">
      <div class="">
        <ul class="nav nav-tabs">        
          <li>
            <%= link_to gene_path(@gene), :class => ""  do %>
    	        ClinGen's Curation Summaries
    	      <% end %>
          </li> 
          <li class="active">
            <%= link_to "External Genomic Resources", gene_external_resources_genes_path(@gene) %>
          </li>
        <li class="">
          <a id="external_clinvar_condition_variants" href="https://www.ncbi.nlm.nih.gov/clinvar/?term=<%= @gene.symbol %>%5Bgene%5D" class="" target="clinvar">ClinVar Variants  <i class="glyphicon glyphicon-new-window text-xs"></i></a>
        </li>
        </ul>
        <div class="panel panel-default">
          <div class="panel-heading" id='results_curation_summary_heading'>
            <div class="row">
            	<div class="col-sm-12">
	              External Resources
	            </div>
	          </div>
          </div>
          <div id='results_curation_summary_details' class="panel-body results_curation_summary_details">





            <div class="row  padding-bottom-lg">
              <div class="col-sm-1 hidden-xs clear-left">
              <%= image_tag(gene_medgen_genetics_summary("logo"), class: "margin-left-lg img img-responsive img-rounded") %>
              </div>
              <div class="col-sm-11 col-xs-12">
                  <h4 class="padding-none margin-top-none border-bottom">
                    <%= gene_medgen_genetics_summary("link", @gene.symbol) %>
                  </h4>
                <div class="text-sm text-muted">
                  <%= gene_medgen_genetics_summary("text") %>
                </div>
                <div class="text-sm text-muted margin-top-sm margin-bottom-sm">
                  <%= gene_medgen_genetics_summary("button", @gene.symbol) %>
                </div>
              </div>
            </div>

            <div class="row  padding-bottom-lg">
              <div class="col-sm-1 hidden-xs clear-left">
              <%= image_tag(gene_genetic_practice_guidelines("logo"), class: "margin-left-lg img img-responsive img-rounded") %>
              </div>
              <div class="col-sm-11 col-xs-12">
                  <h4 class="padding-none margin-top-none border-bottom">
                    <%= gene_genetic_practice_guidelines("link", @gene.symbol) %>
                  </h4>
                <div class="text-sm text-muted">
                  <%= gene_genetic_practice_guidelines("text") %>
                </div>
                <div class="text-sm text-muted margin-top-sm margin-bottom-sm">
                  <%= gene_genetic_practice_guidelines("button", @gene.symbol) %>
                </div>
              </div>
            </div>

            <div class="row  padding-bottom-lg">
              <div class="col-sm-1 hidden-xs clear-left">
              <%= image_tag(gene_gtr_gene_tests("logo"), class: "margin-left-lg img img-responsive img-rounded") %>
              </div>
              <div class="col-sm-11 col-xs-12">
                  <h4 class="padding-none margin-top-none border-bottom">
                    <%= gene_gtr_gene_tests("link", @gene.symbol) %>
                  </h4>
                <div class="text-sm text-muted">
                  <%= gene_gtr_gene_tests("text") %>
                </div>
                <div class="text-sm text-muted margin-top-sm margin-bottom-sm">
                  <%= gene_gtr_gene_tests("button", @gene.symbol) %>
                </div>
              </div>
            </div>

            <div class="row  padding-bottom-lg">
              <div class="col-sm-1 hidden-xs clear-left">
              <%= image_tag(gene_pharmgkb_gene("logo"), class: "margin-left-lg img img-responsive img-rounded") %>
              </div>
              <div class="col-sm-11 col-xs-12">
                  <h4 class="padding-none margin-top-none border-bottom">
                    <%= gene_pharmgkb_gene("link", @gene.symbol) %>
                  </h4>
                <div class="text-sm text-muted">
                  <%= gene_pharmgkb_gene("text") %>
                </div>
                <div class="text-sm text-muted margin-top-sm margin-bottom-sm">
                  <%= gene_pharmgkb_gene("button", @gene.symbol) %>
                </div>
              </div>
            </div>

            

            <div class="row  padding-bottom-lg">
              <div class="col-sm-1 hidden-xs clear-left">
              <%= image_tag(gene_omim("logo"), class: "margin-left-lg img img-responsive img-rounded") %>
              </div>
              <div class="col-sm-11 col-xs-12">
                  <h4 class="padding-none margin-top-none border-bottom">
                    <%= gene_omim("link", @gene.symbol) %>
                  </h4>
                <div class="text-sm text-muted">
                  <%= gene_omim("text") %>
                </div>
                <div class="text-sm text-muted margin-top-sm margin-bottom-sm">
                  <%= gene_omim("button", @gene.symbol) %>
                </div>
              </div>
            </div>

            <div class="row  padding-bottom-lg">
              <div class="col-sm-1 hidden-xs clear-left">
              <%= image_tag(gene_genetics_home_reference("logo"), class: "margin-left-lg img img-responsive img-rounded") %>
              </div>
              <div class="col-sm-11 col-xs-12">
                  <h4 class="padding-none margin-top-none border-bottom">
                    <%= gene_genetics_home_reference("link", @gene.symbol) %>
                  </h4>
                <div class="text-sm text-muted">
                  <%= gene_genetics_home_reference("text") %>
                </div>
                <div class="text-sm text-muted margin-top-sm margin-bottom-sm">
                  <%= gene_genetics_home_reference("button", @gene.symbol) %>
                </div>
              </div>
            </div>

            <div class="row  padding-bottom-lg">
              <div class="col-sm-1 hidden-xs clear-left">
              <%= image_tag(gene_gene_reviews("logo"), class: "margin-left-lg img img-responsive img-rounded") %>
              </div>
              <div class="col-sm-11 col-xs-12">
                  <h4 class="padding-none margin-top-none border-bottom">
                    <%= gene_gene_reviews("link", @gene.symbol) %>
                  </h4>
                <div class="text-sm text-muted">
                  <%= gene_gene_reviews("text") %>
                </div>
                <div class="text-sm text-muted margin-top-sm margin-bottom-sm">
                  <%= gene_gene_reviews("button", @gene.symbol) %>
                </div>
              </div>
            </div>

            <div class="row  padding-bottom-lg">
              <div class="col-sm-1 hidden-xs clear-left">
              <%= image_tag(gene_clinvar("logo"), class: "margin-left-lg img img-responsive img-rounded") %>
              </div>
              <div class="col-sm-11 col-xs-12">
                  <h4 class="padding-none margin-top-none border-bottom">
                    <%= gene_clinvar("link", @gene.symbol) %>
                  </h4>
                <div class="text-sm text-muted">
                  <%= gene_clinvar("text") %>
                </div>
                <div class="text-sm text-muted margin-top-sm margin-bottom-sm">
                  <%= gene_clinvar("button", @gene.symbol) %>
                </div>
              </div>
            </div>

            <div class="row  padding-bottom-lg">
              <div class="col-sm-1 hidden-xs clear-left">
              <%= image_tag(gene_1000_genomes("logo"), class: "margin-left-lg img img-responsive img-rounded") %>
              </div>
              <div class="col-sm-11 col-xs-12">
                  <h4 class="padding-none margin-top-none border-bottom">
                    <%= gene_1000_genomes("link", @gene.symbol) %>
                  </h4>
                <div class="text-sm text-muted">
                  <%= gene_1000_genomes("text") %>
                </div>
                <div class="text-sm text-muted margin-top-sm margin-bottom-sm">
                  <%= gene_1000_genomes("button", @gene.symbol) %>
                </div>
              </div>
            </div>

            <div class="row  padding-bottom-lg">
              <div class="col-sm-1 hidden-xs clear-left">
              <%= image_tag(gene_ncbi_browser("logo"), class: "margin-left-lg img img-responsive img-rounded") %>
              </div>
              <div class="col-sm-11 col-xs-12">
                  <h4 class="padding-none margin-top-none border-bottom">
                    <%= gene_ncbi_browser("link", @gene.symbol) %>
                  </h4>
                <div class="text-sm text-muted">
                  <%= gene_ncbi_browser("text") %>
                </div>
                <div class="text-sm text-muted margin-top-sm margin-bottom-sm">
                  <%= gene_ncbi_browser("button", @gene.symbol) %>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
      <%= render 'shared/external_resources_generic' %>
    </div>
  </div>
</div>

