<%= form_for @note, url: {action: action}, html: {class: ""} do |f| %>
  
  <div class="row">
    <div class="col-sm-3">
      <h3><strong>1.</strong> General Information</h3>
      <p class="help-block padding-left-md">
    	</p>
    </div>
    <div class="col-sm-9 border-left">
      <%= f.label :publication, "PubMed ID", class: "control-label" %>
      <div class="row">
	<div class="col-sm-6">
	  <%= f.text_field :pmid, autofocus: true, class: "form-control", placeholder: "PubMed ID - E.g. 123456", required: "required" %>
	</div>
	<div class="col-sm-6"><p class="help-block">
    	  Simply start typing the PubMed ID</p></div>
      </div>
      <%= f.label :gene, "Gene", class: "control-label clear-left margin-top-md" %>
      <div class="row">
	<div class="col-sm-6">
	  <%= f.text_field :gene, autofocus: true, class: "form-control gene-typeahead", placeholder: "Gene - E.g. SMAD3", required: "required" %>
          <%#= select_tag(:gene_id, options_for_select([['BDNF', 0],['TP53', 1]]), class: "gene-typeahead") %>
	</div>
	<div class="col-sm-6"><p class="help-block">
    	  A gene is required to continue.</p></div>
      </div>
      <%= f.label :disease, "Condition", class: "control-label clear-left margin-top-md" %>
      <div class="row">
	<div class="col-sm-6">
	  <%= f.text_field :condition, autofocus: true, class: "form-control condition-typeahead", placeholder: "Condition - E.g. Loeys-Dietz Syndrome 2" %>
	</div>
	<div class="col-sm-6"><p class="help-block">OMIM or Orphanet term preferred
    	  </p></div>
      </div>
    </div>
  </div>

  <hr />
  <div class="row">
    <div class="col-sm-3">
      <h3><strong>2.</strong> Case-Level Data</h3>
      <p class="help-block padding-left-md">
    	Does this publication describe individual probands or families?  If so, describe them here.</p>
    </div>
    <div class="col-sm-9 border-left">

      <%= label_tag nil,  "Case-Level Data Summary", class: "control-label" %>
      <div class="row">
	<div class="col-sm-6">
	  <%= f.text_area :case_summary, autofocus: true, size: "100x4", class: "form-control", placeholder: "Summarize case-level data findings...", required: "required" %>
	</div>
	<div class="col-sm-6">
	  <p class="help-block">Provide a brief description of the cases discussed in the publication. What are their phenotypes? How were they ascertained?  How were variants identified? Is there inheritance information? Include any information you feel is relevant for curation</p>
	</div>
      </div>
    </div>
  </div>
  <hr />
  
  <div class="row">
    <div class="col-sm-3">
      <h3><strong>3.</strong> Case-Control Data</h3>
      <p class="help-block padding-left-md">
    	Is this publication a case-control study?  If so, describe the findings here.</p>
    </div>
    <div class="col-sm-9 border-left">

      <%= label_tag nil,  "Case-Control Data Summary", class: "control-label" %>
      <div class="row">
	<div class="col-sm-6">
	  <%= f.text_area :case_control_summary, autofocus: true, size: "100x4", class: "form-control", placeholder: "Summarize case-level data findings...", required: "required" %>
	</div>
	<div class="col-sm-6">
	  <p class="help-block">Provide a brief description of the case-control study.  What are the characteristics of the case and control groups?  How were they ascertained?  Are there any factors that may affect the quality of this study?  What were the relevant findings?</p>
	</div>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-3">
      <h3><strong>4.</strong> Experimental Evidence</h3>
      <p class="help-block padding-left-md">
    	Does the publication provide experimental evidence to support either the gene’s role in the disease or the pathogenicity of a specific variant?  If so, describe it here.</p>
    </div>
    <div class="col-sm-9 border-left">

      

      <%= label_tag nil,  "Experimental Data Summary", class: "control-label" %>
      <div class="row">
	<div class="col-sm-6">
	  <%= f.text_area :experimental_summary, autofocus: true, size: "100x4", class: "form-control", placeholder: "Summarize case-level data findings...", required: "required" %>
	</div>
	<div class="col-sm-6">
	  <p class="help-block">Describe the studies performed and the relevant findings; refer to specific figures if applicable.</p>
	</div>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-3">
      <h3><strong>5.</strong> Comments</h3>
      <p class="help-block padding-left-md">
    	Is there any other relevant information about this publication?  If so, describe it here.</p>
    </div>
    <div class="col-sm-9 border-left">
      <%= label_tag nil,  "Additional comments", class: "control-label" %>
      <div class="row">
	<div class="col-sm-6">
	  <%= f.text_area :comments, autofocus: true, size: "100x4", class: "form-control", placeholder: "Additional comments...", required: "required" %>
	</div>
	<div class="col-sm-6">
	  <p class="help-block">If you’d simply like to request that ClinGen review a gene, make that request here.</p>
	</div>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3">
      <%= f.submit "Submit", class: "btn btn-primary" %>
      <%= f.submit "Delete", class: "btn btn-danger pull-right" %>
    </div>
  </div>
<% end %>
