<div id="notes_show" class="container">
  <div class="row">
    <div class="col-sm-12 padding-top-md">
      <%= render 'shared/dashboard_links' %>
      <h2>Share your knowledge</h2>
      ClinGen wants to hear about the papers and publications you have read that may help our curation efforts.

      <hr />
      <%= form_for @note, url: {action: "create"}, html: {class: "form-horizontal"} do |f| %>
	<div class="form-group">
	  <%= f.label :gene, "Gene", class: "col-sm-2 control-label" %>
	  <div class="col-sm-10">
	    <div class="row">
	      <div class="col-sm-6">
		<%= f.text_field :gene, autofocus: true, class: "form-control gene-typeahead", placeholder: "Gene", required: "required" %>
                <%#= select_tag(:gene_id, options_for_select([['BDNF', 0],['TP53', 1]]), class: "gene-typeahead") %>
	      </div>
	      <div class="col-sm-6">
		<p class="help-block">A gene is required to continue</p>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="form-group">
	  <%= f.label :disease, "Condition", class: "col-sm-2 control-label" %>
	  <div class="col-sm-10">
	    <div class="row">
	      <div class="col-sm-6">
		<%= f.text_field :condition, autofocus: true, class: "form-control condition-typeahead", placeholder: "Condition", required: "required" %>
	      </div>
	      <div class="col-sm-6">
		<p class="help-block">At least one OrphaNET or OMIM disease is required to continue.</p>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="form-group">
	  <%= f.label :publication, "Publication", class: "col-sm-2 control-label" %>
	  <div class="col-sm-10">
	    <div class="row">
	      <div class="col-sm-6">
		<%= f.text_field :publication, autofocus: true, class: "form-control", placeholder: "PubMed ID", required: "required" %>
	      </div>
	      <div class="col-sm-6">
		<p class="help-block">A publication is required to continue</p>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="form-group">
	  <%= f.label :comments, "Comments", class: "col-sm-2 control-label" %>
	  <div class="col-sm-10">
	    <div class="row">
	      <div class="col-sm-12">
		<%= f.text_area :comments, autofocus: true, size: "100x6", class: "form-control", placeholder: "Publication", required: "required" %>
	      </div>
	      <div class="col-sm-12">
		<p class="help-block">Tell our team about this publication and how we may be able to use it in our curation efforts.</p>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="form-group">
	  <div class="col-sm-9 col-sm-offset-2">
	    <%= f.submit "Submit", class: "btn btn-primary" %>
	    <%= f.submit "Delete", class: "btn btn-danger pull-right" %>
	  </div>
	</div>
      <% end %>
    </div>
  </div>
</div>
