<div id="gene_dosage_index" class="container hideDataTableFilters">
  <div class="row">
    <div class="col-sm-6">
      <h2>Dosage Sensitivity Curations</h2>
    </div>
    <div class="col-sm-6 padding-top-sm">
      <div class="text-right"><a class="watchdownloadclick" target="download" title="Download Dosage Sensitivity Curations Data"  href="<%= gene_dosage_index_path(format: "csv") %>"><i class="glyphicon glyphicon-download"></i> Download Summary</a></div>
                      
    </div>
  </div>
  <%
  # <div class="form-horizontal row padding-top-xs padding-bottom-xs" id="">
  #   <div class="col-sm-12">
  #   <div class="input-group">
  #     <span class="input-group-addon" id=""><i class="glyphicon glyphicon-search"></i></span>
  #       <input type="text" class="form-control input-block" id="interactive_dosage_search" placeholder="Filter table...">
  #   </div>
  #   </div>
  # </div>
  # <table id="interactive_dosage_table" class="table table-condensed table-striped table-bordered">
  %>
  <table id="" class="table table-condensed table-striped table-bordered">
    <thead>
      <th class="col-sm-2">Gene</th>
      <th class="col-sm-4">Haploinsufficiency</th>
      <th class="col-sm-4">Triplosensitivity</th>
      <th class="col-sm-2">Report</th>
      <th class="col-sm-2">Date</th>
    </thead>
    <tbody>
      <% @genes.each do |g| %>
	<tr>
	  <td>
	    <%= link_to g.label, g %>
	  </td>
          <td>
            <% if a = g.dosage_assertions.select {|i| i.haplo_assertion?}.first %>
              <%= a.interpretation.first.label %>
            <% end %>
          </td>
          <td>
            <% if a = g.dosage_assertions.select {|i| i.triplo_assertion?}.first %>
              <%= a.interpretation.first.label %>
            <% end %>
          </td>
          <td>
            <a href="https://dosage.clinicalgenome.org/clingen_gene.cgi?sym=<%= g.label %>&subject=" target="ncbi" class='btn btn-default btn-xs watchreportclick' title="Click Gene Dosage Report"><i class="glyphicon glyphicon-new-window"></i> <strong>View Details</strong></a></td>
          <td>
            <%= mdy_date(g.dosage_assertions.first.date) %></td>
  	</tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @genes %>
</div>
