<div id="gene_dosage_index" class="container">
  <h2>Gene Dosage Curation</h2>

  <table class="table table-condensed">
    <thead>
      <th class="col-sm-2">Gene</th>
      <th class="col-sm-4">Haploinsufficiency</th>
      <th class="col-sm-4">Triplosensitivity</th>
      <th class="col-sm-2">Report</th>
    </thead>
    <tbody>
      <% @genes.each do |g| %>
	<tr>
	  <td>
	    <%= link_to g.label, g %>
	  </td>
          <td>
            <% if a = g.dosage_assertions.select {|i| i.haplo_assertion?}.first %>
              <%= a.interpretation.first.label %>
            <% end %>
          </td>
          <td>
            <% if a = g.dosage_assertions.select {|i| i.triplo_assertion?}.first %>
              <%= a.interpretation.first.label %>
            <% end %>
          </td>
          <td>
            
            <a href="https://www.ncbi.nlm.nih.gov/projects/dbvar/clingen/clingen_gene.cgi?sym=<%= g.label %>&subject=" target="ncbi" class='btn btn-default btn-xs'><i class="glyphicon glyphicon-new-window"></i> <strong>View Details</strong> - <%= g.dosage_assertions.first.date %></a></td>

	</tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @genes %>
</div>
