<div id="agents_passwords_edit" class="container">
	  <div class='col-sm-6 col-sm-offset-3'><h2>Forgot your password?</h2>

	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="form-group">
	    <%= f.label :email %><br />
	    <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email address", required: "required" %>
	  </div>

	  <div class="form-group">
		<%= render "devise/shared/links" %>
	    <%= f.submit "Reset & send instructions", class: "btn btn-primary" %>
	  </div>
	<% end %>

</div>
</div>