<div id="actionability_curation_index" class="container">
  <h2>Actionability curations </h2>
  The summaries provide information on gene-condition pairs that meet a clinical actionability threshold for pathologic variants in the gene, and are prepared using a transparent, systematic, evidence-based process. A protocol guides the summary development, which includes quality rating of the evidence. An expert panel reviews the summaries and applies a semi-quantitative method to score the overall clinical actionability of gene variants discovered incidental to another diagnostic investigation. For scoring, specific intervention-outcome pairs are chosen for each genetic disorder under consideration. Clinical interventions are chosen based on their effectiveness for prevention or delay of clinical disease, lowered clinical burden, or improved clinical outcomes in a previously undiagnosed adult.
  <table class="table table-condensed table-bordered table-striped">
    <thead>
      <th class="col-sm-1">Gene</th>
      <th class="col-sm-2">Condition</th>
      <th class="col-sm-7">Outcome/ Intervention Pair and Scores</th>
      <th class="col-sm-2">Report</th>
    </thead>
    <tbody>
    <% @assertions.each do |a| %>
      <tr>
        <td>
          <ul class="list-unstyled">
          <% a.genes.each do |g| %>
            <li>
              <%= link_to genes_path+"/"+g.hgnc_id, :method => :get, :class => ""  do %>
                <%= g.symbol %>
              <% end %>
            </li>
          <% end %>
        </ul>
        </td>
        <td>
          <ul class="list-unstyled">
          <% a.diseases.each do |c| %>
            <li>
              
            <%= link_to conditions_path+"/"+c.curie, :method => :get, :class => ""  do %>
                <%= c.label %>
              <% end %>
            </li>
          <% end %>
        </ul>


        </td>
        <td>
          <!-- FOREACH THIS START -->
          <% a.intervention_assertions.interventions.each do |l| %>
            <div class="row">
              <div class="col-sm-5">
                <%= l.label %>
              </div>
              <div class="col-sm-7">
                <dl class='dl-horizontal'> 
                    <dt style='width:80px; font-weight:normal; margin-top:1px'>Outcome</dt>
                    <dd style='margin-left:90px'>Severity: <strong>severity</strong></dd>
                    <dd style='margin-left:90px'>Likelihood: <strong>likelihood</strong></dd>
                    <dt style='width:80px; font-weight:normal; margin-top:1px'>Intervention</dt>
                    <dd style='margin-left:90px'>Effectiveness: <strong>efficacy</strong></dd>
                    <dd style='margin-left:90px'>Intervention: <strong>safety</strong></dd>
                  </dl>
              </div>
            </div>

          <% end  %>
          <!-- FOREACH THIS END -->
        </td>
        <td>
          <%= link_to a.file, {class: 'btn btn-default btn-xs', target: 'file'} do %>
            <i class="glyphicon glyphicon-file"></i> <strong>View Details</strong> - <%= a.mdy_date %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
