<div id="actionability_curation_index" class="container">
  <h1>Actionability curations </h1>

  <table class="table table-condensed">
    <thead>
      <th class="col-sm-1">Gene</th>
      <th class="col-sm-4">Condition</th>
      <th class="col-sm-5">Outcome/ Intervention Pair</th>
      <th class="col-sm-2">Actionability Report</th>
    </thead>
    <tbody>
    <% @assertions.each do |a| %>
      <tr>
        <td>
          <ul class="list-unstyled">
          <% a.genes.each do |g| %>
            <li>
              <%= link_to genes_path+"/"+g.hgnc_id, :method => :get, :class => ""  do %>
                <%= g.symbol %>
              <% end %>
            </li>
          <% end %>
        </ul>
        </td>
        <td>
          <ul class="list-unstyled">
          <% a.diseases.each do |c| %>
            <li>
              
            <%= link_to conditions_path+"/"+c.curie, :method => :get, :class => ""  do %>
                <%= c.label %>
              <% end %>
            </li>
          <% end %>
        </ul>

        </td>
        <td>
          <ul class='list-unstyled'>
            <% a.intervention_assertions.interventions.each do |a| %>
              <li><%= a.label %></li>
            <% end  %>
          </ul>
        </td>
        <td>
          <%= link_to a, {class: 'btn btn-default btn-xs'} do %>
            <i class="glyphicon glyphicon-file"></i> <strong>View Details</strong> - <%= a.date %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
