<% # args: [actionability] structure to render, [gene] [disease] [index] which (:gene/:disease) the index is based on %>

<table class="table table-hover border-left table-condensed">
  <thead>
    <tr>
      <th class="col-sm-10" colspan="2">Clinical Actionability</th>
      <th class="col-sm-2 text-center"></th>
    </tr>
  </thead>

  <thead class="thead-labels ">
    <tr>
      <th class="col-sm-5">Outcome/Intervention Pair</th>
      <th class="">Description</th>
      <th class="text-center">Date</th>
    </tr>
  </thead>
  <tbody>
    <% if assertion = actionability.find { |a| a[index].include?(index_id) } %>
      <% assertion[:interventions].each do |i| %>
        <% scores = ActionabilityScore.labels_to_h(i[:scores]) %>
        <tr>
          <td><a href="<%= assertion[:file] %>" target='file'><strong><%= i[:label] %></strong>  <i class="glyphicon glyphicon-info-sign text-sm text-muted"></i></a>

          </td>
          <td class=" text-left">
            <dl class='dl-horizontal'> 
              <dt style='width:80px; font-weight:normal; margin-top:1px'>Outcome</dt>
              <dd style='margin-left:90px'>Severity: <strong><%= scores[:severity] %></strong></dd>
              <dd style='margin-left:90px'>Likelihood: <strong><%= scores[:likelihood] %></strong></dd>
              <dt style='width:80px; font-weight:normal; margin-top:1px'>Intervention</dt>
              <dd style='margin-left:90px'>Effectiveness: <strong><%= scores[:efficacy] %></strong></dd>
              <dd style='margin-left:90px'>Intervention: <strong><%= scores[:safety] %></strong></dd>
            </dl>
            
          </td>
          <td class=" text-center">
            <%= mdy_date(assertion[:date]) %>
          </td>
        </tr>
      <% end %>
    <% end  %>
  </tbody>
</table>
