
      <div class="col-sm-12 "><h5 class="text-muted border-bottom margin-top-lg margin-bottom-lg">Additional Genomic Resources &amp; Websites</h5></div><div class="col-sm-6 clear-left padding-bottom-lg">
      <div class="col-sm-2 hidden-xs padding-none">
         <a class="padding-top-none" href="http://www.1000genomes.org/" target="_blank" title="1000 Genomes"><%= image_tag("1000genomes.200x200.png", class: "margin-left-lg img img-responsive img-rounded") %> </a>
      </div>
      <div class="col-sm-9 col-xs-12  margin-left-lg padding-bottom-lg">
        <strong>
         <a class="text-black" href="http://www.1000genomes.org/"  target="_blank" title="1000 Genomes">
            1000 Genomes <span class=" glyphicon text-sm text-muted glyphicon-new-window"></span>
         </a></strong>  
            <div class="text-sm text-muted margin-top-sm">An interactive graphical viewer that allows users to explore variant calls, genotype calls and supporting evidence (such as aligned sequence reads) that have been produced by the&nbsp;1000 Genomes Project.</div>
            <div class="text-sm text-muted margin-top-sm"></div>
          
      </div>
    </div>
            <div class="col-sm-6  padding-bottom-lg">
      <div class="col-sm-2 hidden-xs padding-none">
         <a class="padding-top-none" href="http://www.ashg.org/education/General_Public.shtml" target="_blank" title="American Society of Human Genetics - Patient Information"><%= image_tag("ashg.200x200.png", class: "margin-left-lg img img-responsive img-rounded") %></a>
      </div>
      <div class="col-sm-9 col-xs-12  margin-left-lg padding-bottom-lg">
        <strong>
         <a class="text-black" href="http://www.ashg.org/education/General_Public.shtml" target="_blank" title="American Society of Human Genetics - Patient Information">
            American Society of Human Genetics - Patient Information <span class=" glyphicon text-sm text-muted glyphicon-new-window"></span>
         </a></strong>  
            <div class="text-sm text-muted margin-top-sm">Enhance genetics education by preparing future professionals and informing the public.</div>
            <div class="text-sm text-muted margin-top-sm"></div>
          
      </div>
    </div>
            <div class="col-sm-6 clear-left padding-bottom-lg">
      <div class="col-sm-2 hidden-xs padding-none">
         <a class="padding-top-none" href="http://www.cancer.gov/cancertopics/pdq/genetics/overview/healthprofessional/page7"  target="_blank" title="Cancer Genetics Overview (PDQ®)"><%= image_tag("nci-1.200x200.png", class: "margin-left-lg img img-responsive img-rounded") %></a>
      </div>
      <div class="col-sm-9 col-xs-12  margin-left-lg padding-bottom-lg">
        <strong>
         <a class="text-black" href="http://www.cancer.gov/cancertopics/pdq/genetics/overview/healthprofessional/page7" target="_blank" title="Cancer Genetics Overview (PDQ®)">
            Cancer Genetics Overview (PDQ®) <span class=" glyphicon text-sm text-muted glyphicon-new-window"></span>
         </a></strong>  
            <div class="text-sm text-muted margin-top-sm">Provides a number of resources for patients and consumers about cancer and genetics.</div>
            <div class="text-sm text-muted margin-top-sm"></div>
          
      </div>
    </div>
            <div class="col-sm-6  padding-bottom-lg">
      <div class="col-sm-2 hidden-xs padding-none">
         <a class="padding-top-none" href="http://www.cdc.gov/genomics/"  target="_blank" title="CDC Public Health Genomics"><%= image_tag("cdc.200x200.png", class: "margin-left-lg img img-responsive img-rounded") %></a>
      </div>
      <div class="col-sm-9 col-xs-12  margin-left-lg padding-bottom-lg">
        <strong>
         <a class="text-black" href="http://www.cdc.gov/genomics/" target="_blank" title="CDC Public Health Genomics">
            CDC Public Health Genomics <span class=" glyphicon text-sm text-muted glyphicon-new-window"></span>
         </a></strong>  
            <div class="text-sm text-muted margin-top-sm">The CDC Office of Public Health Genomics provides timely and credible information for the effective and responsible translation of genomics research into population health benefits.</div>
            <div class="text-sm text-muted margin-top-sm"></div>
          
      </div>
    </div>
            <div class="col-sm-6 clear-left padding-bottom-lg">
      <div class="col-sm-2 hidden-xs padding-none">
         <a class="padding-top-none" href="https://cpicpgx.org/" target="_blank" title="Clinical Pharmacogenetics Implementation Consortium (CPIC) Guidelines"><%= image_tag("cpic-full-600.200x200.png", class: "margin-left-lg img img-responsive img-rounded") %></a>
      </div>
      <div class="col-sm-9 col-xs-12  margin-left-lg padding-bottom-lg">
        <strong>
         <a class="text-black" href="https://cpicpgx.org/"  target="_blank" title="Clinical Pharmacogenetics Implementation Consortium (CPIC) Guidelines">
            Clinical Pharmacogenetics Implementation Consortium (CPIC) Guidelines <span class=" glyphicon text-sm text-muted glyphicon-new-window"></span>
         </a></strong>  
            <div class="text-sm text-muted margin-top-sm">The Clinical Pharmacogenetics Implementation Consortium (CPIC) was formed in late 2009, as a shared project between PharmGKB and the Pharmacogenomics Research Network. CPIC guidelines are peer-reviewed and published in a leading journal (in partnership with Clinical Pharmacology and Therapeutics) with simultaneous posting to PharmGKB with supplemental information/data and updates.</div>
            <div class="text-sm text-muted margin-top-sm"></div>
          
      </div>
    </div>
            <div class="col-sm-6  padding-bottom-lg">
      <div class="col-sm-2 hidden-xs padding-none">
         <a class="padding-top-none" href="http://www.ncbi.nlm.nih.gov/gap"   target="_blank" title="dbGaP"><%= image_tag("gap.200x200.png", class: "margin-left-lg img img-responsive img-rounded") %></a>
      </div>
      <div class="col-sm-9 col-xs-12  margin-left-lg padding-bottom-lg">
        <strong>
         <a class="text-black" href="http://www.ncbi.nlm.nih.gov/gap"  target="_blank" title="dbGaP">
            dbGaP <span class=" glyphicon text-sm text-muted glyphicon-new-window"></span>
         </a></strong> <span class="label label-warning pull-right">Registration Required</span>  
            <div class="text-sm text-muted margin-top-sm">An archive and distribution center for the description and results of studies which investigate the interaction of genotype and phenotype. These studies include genome-wide association (GWAS), medical resequencing, molecular diagnostic assays, as well as association between genotype and non-clinical traits.</div>
            <div class="text-sm text-muted margin-top-sm"></div>
          
      </div>
    </div>
            <div class="col-sm-6 clear-left padding-bottom-lg">
      <div class="col-sm-2 hidden-xs padding-none">
         <a class="padding-top-none" href="http://exac.broadinstitute.org/" target="_blank" title="Exome Aggregation Consortium"><%= image_tag("exacbroadinstitut.200x200.png", class: "margin-left-lg img img-responsive img-rounded") %></a>
      </div>
      <div class="col-sm-9 col-xs-12  margin-left-lg padding-bottom-lg">
        <strong>
         <a class="text-black" href="http://exac.broadinstitute.org/" target="_blank" title="Exome Aggregation Consortium">
            Exome Aggregation Consortium <span class=" glyphicon text-sm text-muted glyphicon-new-window"></span>
         </a></strong>  
            <div class="text-sm text-muted margin-top-sm">The Exome Aggregation Consortium (ExAC) is a coalition of investigators seeking to aggregate and harmonize exome sequencing data from a wide variety of large-scale sequencing projects, and to make summary data available for the wider scientific community.</div>
            <div class="text-sm text-muted margin-top-sm"></div>
          
      </div>
    </div>
            <div class="col-sm-6  padding-bottom-lg">
      <div class="col-sm-2 hidden-xs padding-none">
         <a class="padding-top-none" href="http://evs.gs.washington.edu/EVS/" target="_blank" title="Exome Variant Server"><%= image_tag("exome_variant_server.200x200.png", class: "margin-left-lg img img-responsive img-rounded") %></a>
      </div>
      <div class="col-sm-9 col-xs-12  margin-left-lg padding-bottom-lg">
        <strong>
         <a class="text-black" href="http://evs.gs.washington.edu/EVS/"  target="_blank" title="Exome Variant Server">
            Exome Variant Server <span class=" glyphicon text-sm text-muted glyphicon-new-window"></span>
         </a></strong>  
            <div class="text-sm text-muted margin-top-sm">The goal of the NHLBI GO Exome Sequencing Project (ESP) is to discover novel genes and mechanisms contributing to heart, lung and blood disorders by pioneering the application of next-generation sequencing of the protein coding regions of the human genome across diverse, richly-phenotyped populations and to share these datasets and findings with the scientific community to extend and enrich the diagnosis, management and treatment of heart, lung and blood disorders.</div>
            <div class="text-sm text-muted margin-top-sm"></div>
          
      </div>
    </div>
            <div class="col-sm-6 clear-left padding-bottom-lg">
      <div class="col-sm-2 hidden-xs padding-none">
         <a class="padding-top-none" href="https://rarediseases.info.nih.gov/research/10/get-involved-in-research"  target="_blank" title="GARD - Get Involved In Research"><%= image_tag("nih-purple.200x200.png", class: "margin-left-lg img img-responsive img-rounded") %></a>
      </div>
      <div class="col-sm-9 col-xs-12  margin-left-lg padding-bottom-lg">
        <strong>
         <a class="text-black" href="https://rarediseases.info.nih.gov/research/10/get-involved-in-research"  target="_blank" title="GARD - Get Involved In Research">
            GARD - Get Involved In Research <span class=" glyphicon text-sm text-muted glyphicon-new-window"></span>
         </a></strong>  
            <div class="text-sm text-muted margin-top-sm">Learn more about how to find and participate in a research study, clinical trial, or patient registry.</div>
            <div class="text-sm text-muted margin-top-sm"></div>
          
      </div>
    </div>
            <div class="col-sm-6  padding-bottom-lg">
      <div class="col-sm-2 hidden-xs padding-none">
         <a class="padding-top-none" href="http://www.ncbi.nlm.nih.gov/books/NBK1116/" target="_blank" title="GeneReviews"><%= image_tag("th-gene-lrg.200x200.png", class: "margin-left-lg img img-responsive img-rounded") %></a>
      </div>
      <div class="col-sm-9 col-xs-12  margin-left-lg padding-bottom-lg">
        <strong>
         <a class="text-black" href="http://www.ncbi.nlm.nih.gov/books/NBK1116/" target="_blank" title="GeneReviews">
            GeneReviews <span class=" glyphicon text-sm text-muted glyphicon-new-window"></span>
         </a></strong>  
            <div class="text-sm text-muted margin-top-sm">GeneReviews are expert-authored, peer-reviewed disease descriptions presented in a standardized format and focused on clinically relevant, medically actionable information on the diagnosis, management and genetic counseling of patients and families with specific inherited conditions.</div>
            <div class="text-sm text-muted margin-top-sm"></div>
          
      </div>
    </div>
            <div class="col-sm-6 clear-left padding-bottom-lg">
      <div class="col-sm-2 hidden-xs padding-none">
         <a class="padding-top-none" href="https://www.genetests.org/" target="_blank" title="GeneTests"><%= image_tag("genetests_logo.200x200.png", class: "margin-left-lg img img-responsive img-rounded") %></a>
      </div>
      <div class="col-sm-9 col-xs-12  margin-left-lg padding-bottom-lg">
        <strong>
         <a class="text-black" href="https://www.genetests.org/" target="_blank" title="GeneTests">
            GeneTests <span class=" glyphicon text-sm text-muted glyphicon-new-window"></span>
         </a></strong>  
            <div class="text-sm text-muted margin-top-sm">A medical genetics information resource. GeneTests has grown to reflect the advances in genetic testing capabilities and to address the needs of our ever widening user community.</div>
            <div class="text-sm text-muted margin-top-sm"></div>
          
      </div>
    </div>
            <div class="col-sm-6  padding-bottom-lg">
      <div class="col-sm-2 hidden-xs padding-none">
         <a class="padding-top-none" href="http://www.geneticalliance.org/" target="_blank" title="Genetic Alliance"><%= image_tag("genetic-alliance.200x200.jpg", class: "margin-left-lg img img-responsive img-rounded") %></a>
      </div>
      <div class="col-sm-9 col-xs-12  margin-left-lg padding-bottom-lg">
        <strong>
         <a class="text-black" href="http://www.geneticalliance.org/" target="_blank" title="Genetic Alliance">
            Genetic Alliance <span class=" glyphicon text-sm text-muted glyphicon-new-window"></span>
         </a></strong>  
            <div class="text-sm text-muted margin-top-sm">A dynamic network that serves as an open space for sharing valuable information and interventions for disease resources, creative tools, and innovative programs</div>
            <div class="text-sm text-muted margin-top-sm"></div>
          
      </div>
    </div>
            <div class="col-sm-6 clear-left padding-bottom-lg">
      <div class="col-sm-2 hidden-xs padding-none">
         <a class="padding-top-none" href="http://g-2-c-2.org" target="_blank" title="Genetic/Genomic Competency Center (g-2-c-2)"><%= image_tag("g-2-c-2.200x200.jpg", class: "margin-left-lg img img-responsive img-rounded") %></a>
      </div>
      <div class="col-sm-9 col-xs-12  margin-left-lg padding-bottom-lg">
        <strong>
         <a class="text-black" href="http://g-2-c-2.org" target="_blank" title="Genetic/Genomic Competency Center (g-2-c-2)">
            Genetic/Genomic Competency Center (g-2-c-2) <span class=" glyphicon text-sm text-muted glyphicon-new-window"></span>
         </a></strong>  
            <div class="text-sm text-muted margin-top-sm">A searchable repository of peer-reviewed genetic and genomic resources.</div>
            <div class="text-sm text-muted margin-top-sm"></div>
          
      </div>
    </div>
            <div class="col-sm-6  padding-bottom-lg">
      <div class="col-sm-2 hidden-xs padding-none">
         <a class="padding-top-none" href="http://www.ncbi.nlm.nih.gov/medgen/docs/guideline/" target="_blank" title="Genetic Practice Guidelines"><%= image_tag("ncbi.200x200.png", class: "margin-left-lg img img-responsive img-rounded") %></a>
      </div>
      <div class="col-sm-9 col-xs-12  margin-left-lg padding-bottom-lg">
        <strong>
         <a class="text-black" href="http://www.ncbi.nlm.nih.gov/medgen/docs/guideline/" target="_blank" title="Genetic Practice Guidelines">
            Genetic Practice Guidelines <span class=" glyphicon text-sm text-muted glyphicon-new-window"></span>
         </a></strong>  
            <div class="text-sm text-muted margin-top-sm">As guidelines are identified that relate to a disorder, gene, or variation, staff at NCBI connect them to the appropriate records. This page provides an alphabetical list of the professional practice guidelines, position statements, and recommendations that have been identified.</div>
            <div class="text-sm text-muted margin-top-sm"></div>
          
      </div>
    </div>
            <div class="col-sm-6 clear-left padding-bottom-lg">
      <div class="col-sm-2 hidden-xs padding-none">
         <a class="padding-top-none" href="http://www.ncbi.nlm.nih.gov/gtr/" target="_blank" title="Genetic Testing Registry"><%= image_tag("ncbi.200x200.png", class: "margin-left-lg img img-responsive img-rounded") %></a>
      </div>
      <div class="col-sm-9 col-xs-12  margin-left-lg padding-bottom-lg">
        <strong>
         <a class="text-black" href="http://www.ncbi.nlm.nih.gov/gtr/"  target="_blank" title="Genetic Testing Registry">
            Genetic Testing Registry <span class=" glyphicon text-sm text-muted glyphicon-new-window"></span>
         </a></strong>  
            <div class="text-sm text-muted margin-top-sm">A voluntary registry of genetic tests and laboratories, with detailed information about the tests such as what is measured and analytic and clinical validity.&nbsp; GTR also is a nexus for information about genetic conditions and provides context-specific links to a variety of resources, including practice guidelines, published literature, and genetic data/information. The scope of GTR includes single gene tests for Mendelian disorders, somatic/cancer tests and pharmacogenetic tests including complex arrays, panels.</div>
            <div class="text-sm text-muted margin-top-sm"></div>
          
      </div>
    </div>
            <div class="col-sm-6  padding-bottom-lg">
      <div class="col-sm-2 hidden-xs padding-none">
         <a class="padding-top-none" href="http://ghr.nlm.nih.gov/"  target="_blank" title="Genetics Home Reference"><%= image_tag("ghr_logo-1.200x200.jpg", class: "margin-left-lg img img-responsive img-rounded") %></a>
      </div>
      <div class="col-sm-9 col-xs-12  margin-left-lg padding-bottom-lg">
        <strong>
         <a class="text-black" href="http://ghr.nlm.nih.gov/"   target="_blank" title="Genetics Home Reference">
            Genetics Home Reference <span class=" glyphicon text-sm text-muted glyphicon-new-window"></span>
         </a></strong>  
            <div class="text-sm text-muted margin-top-sm">Genetics Home Reference provides consumer-friendly information about the effects of genetic variations on human health.</div>
            <div class="text-sm text-muted margin-top-sm"></div>
          
      </div>
    </div>
            <div class="col-sm-6 clear-left padding-bottom-lg">
      <div class="col-sm-2 hidden-xs padding-none">
         <a class="padding-top-none" href="http://www.hgmd.cf.ac.uk/ac/index.php"  target="_blank" title="Human Genetic Mutation Database"><%= image_tag("hgmd.200x200.png", class: "margin-left-lg img img-responsive img-rounded") %></a>
      </div>
      <div class="col-sm-9 col-xs-12  margin-left-lg padding-bottom-lg">
        <strong>
         <a class="text-black" href="http://www.hgmd.cf.ac.uk/ac/index.php" target="_blank" title="Human Genetic Mutation Database">
            Human Genetic Mutation Database <span class=" glyphicon text-sm text-muted glyphicon-new-window"></span>
         </a></strong> <span class="label label-warning pull-right">Registration Required</span> <span class="label label-warning pull-right">Fee</span>  
            <div class="text-sm text-muted margin-top-sm">HGMD®&nbsp; is a resource for comprehensive data on published human inherited disease mutations.</div>
            <div class="text-sm text-muted margin-top-sm"></div>
          
      </div>
    </div>
            <div class="col-sm-6  padding-bottom-lg">
      <div class="col-sm-2 hidden-xs padding-none">
         <a class="padding-top-none" href="http://www.human-phenotype-ontology.org/" target="_blank" title="Human Phenotype Ontology"><%= image_tag("human_phenotype_ontology.200x200.jpg", class: "margin-left-lg img img-responsive img-rounded") %></a>
      </div>
      <div class="col-sm-9 col-xs-12  margin-left-lg padding-bottom-lg">
        <strong>
         <a class="text-black" href="http://www.human-phenotype-ontology.org/" target="_blank" title="Human Phenotype Ontology">
            Human Phenotype Ontology <span class=" glyphicon text-sm text-muted glyphicon-new-window"></span>
         </a></strong>  
            <div class="text-sm text-muted margin-top-sm">The Human Phenotype Ontology (HPO) aims to provide a standardized vocabulary of phenotypic abnormalities encountered in human disease. The HPO is currently being developed using the medical literature, Orphanet, DECIPHER, and OMIM. HPO currently contains approximately 11,000 terms and over 115,000 annotations to hereditary diseases.</div>
            <div class="text-sm text-muted margin-top-sm"></div>
          
      </div>
    </div>
            <div class="col-sm-6 clear-left padding-bottom-lg">
      <div class="col-sm-2 hidden-xs padding-none">
         <a class="padding-top-none" href="https://ignite-genomics.org/" target="_blank" title="IGNITE"><%= image_tag("ignite-logo.200x200.png", class: "margin-left-lg img img-responsive img-rounded") %></a>
      </div>
      <div class="col-sm-9 col-xs-12  margin-left-lg padding-bottom-lg">
        <strong>
         <a class="text-black" href="https://ignite-genomics.org/" target="_blank" title="IGNITE">
            IGNITE <span class=" glyphicon text-sm text-muted glyphicon-new-window"></span>
         </a></strong>  
            <div class="text-sm text-muted margin-top-sm">IGNITE is an NIH-funded network dedicated to supporting the implementation of genomics in healthcare.</div>
            <div class="text-sm text-muted margin-top-sm"></div>
          
      </div>
    </div>
            <div class="col-sm-6  padding-bottom-lg">
      <div class="col-sm-2 hidden-xs padding-none">
         <a class="padding-top-none" href="http://www.matchmakerexchange.org/" target="_blank" title="Matchmaker Exchange"><%= image_tag("wheel.200x200.png", class: "margin-left-lg img img-responsive img-rounded") %></a>
      </div>
      <div class="col-sm-9 col-xs-12  margin-left-lg padding-bottom-lg">
        <strong>
         <a class="text-black" href="http://www.matchmakerexchange.org/" target="_blank" title="Matchmaker Exchange">
            Matchmaker Exchange <span class=" glyphicon text-sm text-muted glyphicon-new-window"></span>
         </a></strong>  
            <div class="text-sm text-muted margin-top-sm">Matchmaker Exchange provides a robust approach to rare disease gene discovery through the creation of a federated network connecting databases of genotypes and rare phenotypes.</div>
            <div class="text-sm text-muted margin-top-sm"></div>
          
      </div>
    </div>
            <div class="col-sm-6 clear-left padding-bottom-lg">
      <div class="col-sm-2 hidden-xs padding-none">
         <a class="padding-top-none" href="https://www.genome.gov/" target="_blank" title="National Human Genome Research Institute (NHGRI)"><%= image_tag("genome.200x200.jpg", class: "margin-left-lg img img-responsive img-rounded") %></a>
      </div>
      <div class="col-sm-9 col-xs-12  margin-left-lg padding-bottom-lg">
        <strong>
         <a class="text-black" href="https://www.genome.gov/" target="_blank" title="National Human Genome Research Institute (NHGRI)">
            National Human Genome Research Institute (NHGRI) <span class=" glyphicon text-sm text-muted glyphicon-new-window"></span>
         </a></strong>  
            <div class="text-sm text-muted margin-top-sm">The National Human Genome Research Institute (NHGRI) is working towards a future when health care providers will use information about our individual genomes to better diagnose and treat disease.</div>
            <div class="text-sm text-muted margin-top-sm"></div>
          
      </div>
    </div>
            <div class="col-sm-6  padding-bottom-lg">
      <div class="col-sm-2 hidden-xs padding-none">
         <a class="padding-top-none" href="http://www.genome.gov/HealthProfessionals/" target="_blank" title="National Human Genome Research Institute (NHGRI) - HealthProfessionals"><%= image_tag("genome.200x200.jpg", class: "margin-left-lg img img-responsive img-rounded") %></a>
      </div>
      <div class="col-sm-9 col-xs-12  margin-left-lg padding-bottom-lg">
        <strong>
         <a class="text-black" href="http://www.genome.gov/HealthProfessionals/" target="_blank" title="National Human Genome Research Institute (NHGRI) - HealthProfessionals">
            National Human Genome Research Institute (NHGRI) - HealthProfessionals <span class=" glyphicon text-sm text-muted glyphicon-new-window"></span>
         </a></strong>  
            <div class="text-sm text-muted margin-top-sm">The National Human Genome Research Institute (NHGRI) is working towards a future when health care providers will use information about our individual genomes to better diagnose and treat disease.</div>
            <div class="text-sm text-muted margin-top-sm"></div>
          
      </div>
    </div>
            <div class="col-sm-6 clear-left padding-bottom-lg">
      <div class="col-sm-2 hidden-xs padding-none">
         <a class="padding-top-none" href="https://www.rarediseases.org/" target="_blank" title="National Organization for Rare Disorders"><%= image_tag("nord.200x200.jpg", class: "margin-left-lg img img-responsive img-rounded") %></a>
      </div>
      <div class="col-sm-9 col-xs-12  margin-left-lg padding-bottom-lg">
        <strong>
         <a class="text-black" href="https://www.rarediseases.org/" target="_blank" title="National Organization for Rare Disorders">
            National Organization for Rare Disorders <span class=" glyphicon text-sm text-muted glyphicon-new-window"></span>
         </a></strong>  
            <div class="text-sm text-muted margin-top-sm">The National Organization for Rare Disorders (NORD), a 501(c)(3) organization, is the leading voice of the rare disease community.&nbsp; We are a unique federation of voluntary health organizations dedicated to helping people with rare "orphan" diseases and assisting the organizations that serve them. For more than 30 years, we have been committed to the identification, treatment, and cure of rare disorders through programs of education, advocacy, research, and service.</div>
            <div class="text-sm text-muted margin-top-sm"></div>
          
      </div>
    </div>
            <div class="col-sm-6  padding-bottom-lg">
      <div class="col-sm-2 hidden-xs padding-none">
         <a class="padding-top-none" href="http://omim.org/" target="_blank" title="Online Medelian Inheritance in Man (OMIM)"><%= image_tag("omim.200x200.png", class: "margin-left-lg img img-responsive img-rounded") %></a>
      </div>
      <div class="col-sm-9 col-xs-12  margin-left-lg padding-bottom-lg">
        <strong>
         <a class="text-black" href="http://omim.org/" target="_blank" title="Online Medelian Inheritance in Man (OMIM)">
            Online Medelian Inheritance in Man (OMIM) <span class=" glyphicon text-sm text-muted glyphicon-new-window"></span>
         </a></strong>  
            <div class="text-sm text-muted margin-top-sm">An Online Catalog of Human Genes and Genetic Disorders</div>
            <div class="text-sm text-muted margin-top-sm"></div>
          
      </div>
    </div>
            <div class="col-sm-6 clear-left padding-bottom-lg">
      <div class="col-sm-2 hidden-xs padding-none">
         <a class="padding-top-none" href="http://www.orpha.net/consor/cgi-bin/index.php"  target="_blank" title="OrphaNet"><%= image_tag("orpha.200x200.jpg", class: "margin-left-lg img img-responsive img-rounded") %></a>
      </div>
      <div class="col-sm-9 col-xs-12  margin-left-lg padding-bottom-lg">
        <strong>
         <a class="text-black" href="http://www.orpha.net/consor/cgi-bin/index.php" target="_blank" title="OrphaNet">
            OrphaNet <span class=" glyphicon text-sm text-muted glyphicon-new-window"></span>
         </a></strong>  
            <div class="text-sm text-muted margin-top-sm">Orphanet is the reference portal for information on rare diseases and orphan drugs, for all audiences. Orphanet’s aim is to help improve the diagnosis, care and treatment of patients with rare diseases.</div>
            <div class="text-sm text-muted margin-top-sm"></div>
          
      </div>
    </div>
            <div class="col-sm-6  padding-bottom-lg">
      <div class="col-sm-2 hidden-xs padding-none">
         <a class="padding-top-none" href="https://www.pharmgkb.org/" target="_blank" title="PharmGKB"><%= image_tag("pgkb.200x200.png", class: "margin-left-lg img img-responsive img-rounded") %></a>
      </div>
      <div class="col-sm-9 col-xs-12  margin-left-lg padding-bottom-lg">
        <strong>
         <a class="text-black" href="https://www.pharmgkb.org/" target="_blank" title="PharmGKB">
            PharmGKB <span class=" glyphicon text-sm text-muted glyphicon-new-window"></span>
         </a></strong>  
            <div class="text-sm text-muted margin-top-sm">The PharmGKB is a pharmacogenomics knowledge resource that encompasses clinical information including dosing guidelines and drug labels, potentially clinically actionable gene-drug associations and genotype-phenotype relationships.</div>
            <div class="text-sm text-muted margin-top-sm"></div>
          
      </div>
    </div>
            <div class="col-sm-6 clear-left padding-bottom-lg">
      <div class="col-sm-2 hidden-xs padding-none">
         <a class="padding-top-none" href="http://genome.ucsc.edu/" target="_blank" title="UCSC Genome Browser"><%= image_tag("human.200x200.jpg", class: "margin-left-lg img img-responsive img-rounded") %></a>
      </div>
      <div class="col-sm-9 col-xs-12  margin-left-lg padding-bottom-lg">
        <strong>
         <a class="text-black" href="http://genome.ucsc.edu/" target="_blank" title="UCSC Genome Browser">
            UCSC Genome Browser <span class=" glyphicon text-sm text-muted glyphicon-new-window"></span>
         </a></strong>  
            <div class="text-sm text-muted margin-top-sm">The UCSC Genome Browser is a visualization tool for the human genome providing a view of its genes and chromosomal features.&nbsp; Results from GWAS studies, conservation between other species, and results from many genomic and epigenomic studies are also provided.&nbsp; The Browser also has similar genomic information for a large number of animal species.</div>
            <div class="text-sm text-muted margin-top-sm"></div>
          
      </div>
    </div>
            <div class="col-sm-6  padding-bottom-lg">
      <div class="col-sm-2 hidden-xs padding-none">
         <a class="padding-top-none" href="https://undiagnosed.hms.harvard.edu/apply/" target="_blank" title="Undiagnosed Diseases Network"><%= image_tag("udn_logo_200x200.200x200.jpg", class: "margin-left-lg img img-responsive img-rounded") %></a>
      </div>
      <div class="col-sm-9 col-xs-12  margin-left-lg padding-bottom-lg">
        <strong>
         <a class="text-black" href="https://undiagnosed.hms.harvard.edu/apply/" target="_blank" title="Undiagnosed Diseases Network">
            Undiagnosed Diseases Network <span class=" glyphicon text-sm text-muted glyphicon-new-window"></span>
         </a></strong>  
            <div class="text-sm text-muted margin-top-sm">The Undiagnosed Diseases Network (UDN) is an NIH-funded research study with the goal of providing answers for individuals with mysterious conditions that have long eluded diagnosis. &nbsp;</div>
            <div class="text-sm text-muted margin-top-sm"></div>
          
      </div>
    </div>
            <div class="col-sm-6 clear-left padding-bottom-lg">
      <div class="col-sm-2 hidden-xs padding-none">
         <a class="padding-top-none" href="http://www.rarechromo.org" target="_blank" title="Unique"><%= image_tag("unique.200x200.png", class: "margin-left-lg img img-responsive img-rounded") %></a>
      </div>
      <div class="col-sm-9 col-xs-12  margin-left-lg padding-bottom-lg">
        <strong>
         <a class="text-black" href="http://www.rarechromo.org" target="_blank" title="Unique">
            Unique <span class=" glyphicon text-sm text-muted glyphicon-new-window"></span>
         </a></strong>  
            <div class="text-sm text-muted margin-top-sm">Proving information to inform, support and alleviate the isolation of anyone affected by a rare chromosome disorder and to raise public awareness.</div>
            <div class="text-sm text-muted margin-top-sm"></div>
          
      </div>
    </div>