<div class='row margin-bottom-sm ADDCLASSIFCURATED' id='result_ADDIDHERE'>
  <div class='col-sm-8'>
    <h4 class='margin-top-none'><%= link_to variant.iri, variant %></a></h4>
    <div>
      <%= variant.dbvar_id %> <span class='badge text-xs'>Variant</span>
    </div>

    <div class='text-sm text-muted'>
      <%= variant.variant_type %><br>
      <%= "chr#{variant.chr}:#{variant.start}-#{variant.stop} (#{variant.assembly})" %>
    </div>

  </div>
  <%= entity_assertion_key variant %>
  <div class='col-sm-2 text-right text-tight text-sm text-muted'>
    <!--MOST RECENT CURATED DATE -->  <%= #mdy_date(condition.last_curated) %>
  </div>

  <hr class='col-sm-12' />
</div>
