<div class='row margin-bottom-sm ADDCLASSIFCURATED' id='result_ADDIDHERE'>
  <div class='col-sm-8'>
    <h4 class='margin-top-none'><%= link_to condition.label, condition %></a></h4>
    <div>
      <%= condition.curie %> <span class='badge text-xs'>Condition</span>
    </div>
    
    <div class='text-sm text-muted'>
      <%= condition.synonym %>
    </div>
    
  </div>
  <%= entity_assertion_key condition %>
  <div class='col-sm-2 text-right text-tight text-sm text-muted'>
    <!--MOST RECENT CURATED DATE -->  <%= mdy_date(condition.last_curated) %>
  </div>

  <hr class='col-sm-12' />
</div>
