<% @drugs.each do |d| %>
<div class='row margin-bottom-sm ADDCLASSIFCURATED' id='result_ADDIDHERE'>
<div class='col-sm-8'>
  <h4 class='margin-top-none'><%= link_to d.label, d %></a></h4>
  <div>
    CURIE <span class='badge text-xs'>Drug</span>
  </div>
  
  <!-- <div class='text-sm text-muted'>
       Synonyms go here
       </div> -->
  
</div> 
<div class='col-sm-2'>
	<div class='col-sm-3 padding-right-none'>
      <%= link_to image_tag("clinicalActionability-off.png", class: "img-responsive"), d, class: "menu_icon" %>
    </div>
	<div class='col-sm-3 padding-right-none'>
      <%= link_to image_tag("clinicalValidity-off.png", class: "img-responsive"), d, class: "menu_icon" %>
    </div>
	<div class='col-sm-3 padding-right-none'>
      <%= link_to image_tag("dosageSensitivity-off.png", class: "img-responsive"), d, class: "menu_icon" %>
    </div>
	<div class='col-sm-3 padding-right-none'>
      <%= link_to image_tag("genomeResource-on.png", class: "img-responsive"), d, class: "menu_icon" %>
    </div>
</div>
<div class='col-sm-2 text-right text-tight text-sm text-muted'>
</div>

<hr class='col-sm-12' />
</div>
<% end %>