<div class="row">
      <div class="col-sm-12 curated-stats">
        <h2>Defining the clinical relevance of genes &amp; variants for precision medicine and research...</h2>      </div>
      <div class="col-sm-8 col-sm-offset-2 curated-stats">
        <div class="col-sm-3">
          <h1>
            <%= link_to genes_path, :class => "count"  do %>785<% end %>
          </h1>
          <%= link_to genes_path, :class => "count"  do %>Curated Genes<% end %>

        </div>
        <div class="col-sm-3">
          <h1>
            <%= link_to conditions_path, :class => "count"  do %>485<% end %>
          </h1>
          <%= link_to conditions_path, :class => "count"  do %>Curated Conditions<% end %>

        </div>
        <div class="col-sm-3">
          <h1>
            <%= link_to conditions_path, :class => "count"  do %>10<% end %>
          </h1>
          <%= link_to conditions_path, :class => "count"  do %>Expert Panels<% end %>
        </div>
      </div>
    </div>