<div id="home_index" class="container">

<% if(@term) %>
  <h2 class="margin-bottom-md"> <%= @term %> Results</h2>
  <%
    # Just some notes...
    # The "active" class set in the tabs and tab-content is what activates
    # the tabs that you want.  SO, just start with genes and go through the list.
    # My thought is to always keep the tabs (even if not matches) but always 
    # activate the first tab with results when reading from left to right.
  %>

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="<%= 'active' if @active_class == :genes %>">
    	<a href="#gene_results" aria-controls="gene_results" role="tab" data-toggle="tab">Genes <span class="badge"><%= @genes.size %> Matches</span></a>
    </li>
    <li role="presentation" class="<%= 'active' if @active_class == :conditions %>">
    	<a href="#condition_results" aria-controls="condition_results" role="tab" data-toggle="tab">Conditions <span class="badge"><%= @conditions.size %> Matches</span></a>
    </li>
    <li role="presentation" class="<%= 'active' if @active_class == :drugs %>">
    	<a href="#drug_results" aria-controls="drug_results" role="tab" data-toggle="tab">Drugs <span class="badge"><%= @drugs.size %> Matches</span></a>
    </li>
  </ul>


  <div class="tab-content">
    <div role="tabpanel" class="tab-pane <%= 'active' if @active_class == :genes %>" id="gene_results">
      <div class="padding-top-md">
      <% if @genes.size == 0 %>
      <%= render "no_results" %>
      <% else %>
      <%= render "gene_results" %>
      <!-- START IF - only show this if more then X are needed -->
      <div class="col-sm-4 col-sm-offset-4">
        <a href="#" class="btn btn-primary btn-block"> Additional Gene Matches </a>
      </div>
      <!-- END IF -->
      <% end %>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane <%= 'active' if @active_class == :conditions %>" id="condition_results">
      <div class="padding-top-md">
      <% if @conditions.size == 0 %>
      <%= render "no_results" %>
      
      <% else %>
      <%= render "condition_results" %>
      <!-- START IF - only show this if more then X are needed -->
      <div class="col-sm-4 col-sm-offset-4">
        <a href="#" class="btn btn-primary btn-block"> Additional Condition Matches </a>
      </div>
      <!-- END IF -->
      <% end %>
    	</div>
    </div>
    <div role="tabpanel" class="tab-pane <%= 'active' if @active_class == :drugs %>" id="drug_results">
      <div class="padding-top-md">
      <% if @drugs.size == 0 %>
      <%= render "no_results" %>
      <% else %>
      <%= render "drug_results" %>
      <!-- START IF - only show this if more then X are needed -->
      <div class="col-sm-4 col-sm-offset-4">
        <a href="#" class="btn btn-primary btn-block"> Additional Drug Matches </a>
      </div>
      <!-- END IF -->
      <% end %>	
      </div>
    </div>
  </div>
    
<% else %>
    <%= render "shared/splash_curated_facts" %>
<% end %>    
  

</div>
