<div id="genes_show" class="container">
  
</div>
<div id="genes_show_summary" role="tabpanel" class="tab-pane active  container results_curation_summary">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="padding-top-xs">
        <%= render 'shared/subscribable_entity_header', entity: @condition %>

        <strong><%= @condition.label %></strong>
        </h2>
        <%= render 'conditions/condition_facts' %>

      </div>
    </div>
    <div class="col-sm-12">
      <div class="">
        <ul class="nav nav-tabs">        
          <li>
            <%= link_to condition_path(@condition), :class => ""  do %>
              ClinGen's Curation Summaries
            <% end %>
          </li> 
          <li class="active">
            <%= link_to "External Genomic Resources", condition_external_resources_conditions_path(@condition) %>
          </li>
          <li> 
          <a href="https://www.ncbi.nlm.nih.gov/clinvar/?term=<%= @term_label %>" class="" target="clinvar">ClinVar Variants  <i class="glyphicon glyphicon-new-window text-xs" id="external_clinvar_gene_variants"></i></a>
          </li>
        </ul>
        <div class="panel panel-default">
          <div class="panel-heading" id='results_curation_summary_heading'>
            <div class="row">
              <div class="col-sm-12">
                External Resources
              </div>
            </div>
          </div>
          <div id='results_curation_summary_details' class="panel-body results_curation_summary_details">



            <div class="row  padding-bottom-lg">
              <div class="col-sm-1 hidden-xs clear-left">
              <%= image_tag(condition_genetic_practice_guidelines("logo"), class: "margin-left-lg img img-responsive img-rounded") %>
              </div>
              <div class="col-sm-11 col-xs-12">
                  <h4 class="padding-none margin-top-none border-bottom">
                    <%= condition_genetic_practice_guidelines("link", @term_curie) %>
                  </h4>
                <div class="text-sm text-muted">
                  <%= condition_genetic_practice_guidelines("text") %>
                </div>
                <div class="text-sm text-muted margin-top-sm margin-bottom-sm">
                  <%= condition_genetic_practice_guidelines("button", @term_curie) %>
                </div>
              </div>
            </div>

            <div class="row  padding-bottom-lg">
              <div class="col-sm-1 hidden-xs clear-left">
              <%= image_tag(condition_gtr_disease_tests("logo"), class: "margin-left-lg img img-responsive img-rounded") %>
              </div>
              <div class="col-sm-11 col-xs-12">
                  <h4 class="padding-none margin-top-none border-bottom">
                    <%= condition_gtr_disease_tests("link", @condition.label) %>
                  </h4>
                <div class="text-sm text-muted">
                  <%= condition_gtr_disease_tests("text") %>
                </div>
                <div class="text-sm text-muted margin-top-sm margin-bottom-sm">
                  <%= condition_gtr_disease_tests("button", @condition.label) %>
                </div>
              </div>
            </div>

            <div class="row  padding-bottom-lg">
              <div class="col-sm-1 hidden-xs clear-left">
              <%= image_tag(condition_omim("logo"), class: "margin-left-lg img img-responsive img-rounded") %>
              </div>
              <div class="col-sm-11 col-xs-12">
                  <h4 class="padding-none margin-top-none border-bottom">
                    <%= condition_omim("link", @condition.label) %>
                  </h4>
                <div class="text-sm text-muted">
                  <%= condition_omim("text") %>
                </div>
                <div class="text-sm text-muted margin-top-sm margin-bottom-sm">
                  <%= condition_omim("button", @condition.label) %>
                </div>
              </div>
            </div>

            <div class="row  padding-bottom-lg">
              <div class="col-sm-1 hidden-xs clear-left">
              <%= image_tag(condition_pharmgkb("logo"), class: "margin-left-lg img img-responsive img-rounded") %>
              </div>
              <div class="col-sm-11 col-xs-12">
                  <h4 class="padding-none margin-top-none border-bottom">
                    <%= condition_pharmgkb("link", @condition.label) %>
                  </h4>
                <div class="text-sm text-muted">
                  <%= condition_pharmgkb("text") %>
                </div>
                <div class="text-sm text-muted margin-top-sm margin-bottom-sm">
                  <%= condition_pharmgkb("button", @condition.label) %>
                </div>
              </div>
            </div>

            <div class="row  padding-bottom-lg">
              <div class="col-sm-1 hidden-xs clear-left">
              <%= image_tag(condition_medgen_genetic_summary("logo"), class: "margin-left-lg img img-responsive img-rounded") %>
              </div>
              <div class="col-sm-11 col-xs-12">
                  <h4 class="padding-none margin-top-none border-bottom">
                    <%= condition_medgen_genetic_summary("link", @condition.label) %>
                  </h4>
                <div class="text-sm text-muted">
                  <%= condition_medgen_genetic_summary("text") %>
                </div>
                <div class="text-sm text-muted margin-top-sm margin-bottom-sm">
                  <%= condition_medgen_genetic_summary("button", @condition.label) %>
                </div>
              </div>
            </div>

            <div class="row  padding-bottom-lg">
              <div class="col-sm-1 hidden-xs clear-left">
              <%= image_tag(condition_genetics_home_reference("logo"), class: "margin-left-lg img img-responsive img-rounded") %>
              </div>
              <div class="col-sm-11 col-xs-12">
                  <h4 class="padding-none margin-top-none border-bottom">
                    <%= condition_genetics_home_reference("link", @condition.label) %>
                  </h4>
                <div class="text-sm text-muted">
                  <%= condition_genetics_home_reference("text") %>
                </div>
                <div class="text-sm text-muted margin-top-sm margin-bottom-sm">
                  <%= condition_genetics_home_reference("button", @condition.label) %>
                </div>
              </div>
            </div>

            <div class="row  padding-bottom-lg">
              <div class="col-sm-1 hidden-xs clear-left">
              <%= image_tag(condition_clinvar_variants_related_to_genetic_disease("logo"), class: "margin-left-lg img img-responsive img-rounded") %>
              </div>
              <div class="col-sm-11 col-xs-12">
                  <h4 class="padding-none margin-top-none border-bottom">
                    <%= condition_clinvar_variants_related_to_genetic_disease("link", @condition.label) %>
                  </h4>
                <div class="text-sm text-muted">
                  <%= condition_clinvar_variants_related_to_genetic_disease("text") %>
                </div>
                <div class="text-sm text-muted margin-top-sm margin-bottom-sm">
                  <%= condition_clinvar_variants_related_to_genetic_disease("button", @condition.label) %>
                </div>
              </div>
            </div>

            <div class="row  padding-bottom-lg">
              <div class="col-sm-1 hidden-xs clear-left">
              <%= image_tag(condition_1000_genomes("logo"), class: "margin-left-lg img img-responsive img-rounded") %>
              </div>
              <div class="col-sm-11 col-xs-12">
                  <h4 class="padding-none margin-top-none border-bottom">
                    <%= condition_1000_genomes("link", @condition.label) %>
                  </h4>
                <div class="text-sm text-muted">
                  <%= condition_1000_genomes("text") %>
                </div>
                <div class="text-sm text-muted margin-top-sm margin-bottom-sm">
                  <%= condition_1000_genomes("button", @condition.label) %>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    
      <%= render 'shared/external_resources_generic' %>
    </div>
  </div>
</div>
