<% 

  ## This was added for the GeneDiseaseDup
  interp = assertions.interpretation.first 
%>
  <tbody>
    <tr>
      <td>
        <%= info_popover("gene-curation", "help", "" ,"logo-inline") %>
      </td>
      <td>
        <%= info_popover("gene-curation", "score", interp.label, "strong") %>
      </td>
      <td class=" text-center">
        <% if assertions.respond_to?(:date) %>
          <%= mdy_date(assertions.date) %>
        <% else %>
          <%= assertions.first.mdy_date %>
        <% end %>
      </td>
      <td class=" text-center">
        <%= link_to gene_disease_assertions_path+"/"+assertions.perm_id, :method => :get, :class => "btn btn-xs btn-success"  do %>
        View report
      <% end %>
      </td>
    </tr>
  </tbody>
