<div id="gene_validity_index" class="container hideDataTableFilters">
  <div class="row">
    <div class="col-sm-6">
      <h2>Gene Validity Curations</h2>
    </div>
    <div class="col-sm-6 padding-top-sm">
      <div class="text-right"><span class="text-muted">Curation Count: </span><STRONG><%= @assertions.count  %></STRONG> | <a href="<%= gene_disease_assertions_path(format: "csv") %>"><i class="glyphicon glyphicon-download"></i> Download Summary</a></div>
                      
    </div>
  </div>

  <div class="form-horizontal row padding-top-xs padding-bottom-xs" id="">
    <div class="col-sm-12">
    <div class="input-group">
      <span class="input-group-addon" id=""><i class="glyphicon glyphicon-search"></i></span>
        <input type="text" class="form-control input-block" id="interactive_gene_disease_search" placeholder="Filter table...">
    </div>
    </div>
  </div>

  <table id='interactive_gene_disease_table' class="table table-condensed table-striped table-bordered ">
    <thead>
      <th class="col-sm-2">Gene</th>
      <th class="col-sm-8">Disease curated</th>
      <th class="col-sm-2">MOI</th>
      <th class="col-sm-2">SOP</th>
      <th class="col-sm-2">Classification</th>
      <th class="col-sm-2">Released</th>
    </thead>
    <tbody>
      <% @assertions.each do |a| %>
      <tr>
        <td>
          <%= link_to genes_path+"/"+a[:genes].first[:hgnc_id], :method => :get, :class => ""  do %>
            <%= a[:genes].first[:symbol] %>
          <% end %>
        </td>
        <td>
          <% if a[:diseases].first %>
            <%= link_to conditions_path+"/"+a[:diseases].first[:curie], :method => :get, :class => ""  do %>
              <%= a[:diseases].first[:label] %>
            <% end %>
            <ul class="list-inline">
              <li>
                <%= link_to a[:diseases].first[:curie].gsub('_', ':'), conditions_path+"/"+a[:diseases].first[:curie], :method => :get, :class => "text-muted text-sm" %>
              </li>
            </ul>
          <% end %>
        </td>
        <td class="">
        <% if a[:score_string_gci].present? %>
          <%= print_moi_score_gci(a[:score_string_gci], "abr") %>
        <% elsif a[:score_string_sop5].present? %>
          <%= print_moi_score_sop5(a[:score_string_sop5], "abr") %>
        <% else %>
          <%= print_moi_score(a[:score_string], "abr") %>
        <% end %>
        </td>
        <td class="">
          <% if a[:score_string_gci].present? %>
            <% if a[:score_string_gci]['selectedSOPVersion'].present? %>
              <%= gci_SOP(a[:score_string_gci]['selectedSOPVersion']) %>
            <% else %>
              <%= gci_SOP(a[:jsonMessageVersion]) %>
            <% end %>
          <% else %>
            <%= gci_SOP(a[:jsonMessageVersion]) %>
          <% end %>
        </td>
        <td class="">
          <%= link_to gene_disease_assertions_path+"/"+a[:perm_id], {class: 'btn btn-default btn-xs'} do %>
            <i class="glyphicon glyphicon-file"></i> <strong><%= a[:interpretation].first[:label] %> </strong>
          <% end %>
        </td>
        <td class="text-center">
          <%= mdy_date(a[:date]) %>
          

        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
