<div class='btn btn-primary'>Curated Genes </div>

<table class="table">
  <thead>
    <tr>
      <th>Gene</th>
      <th>Gene-Disease Clinical Validity Classifications</th>
      <th>Actionability Evidence-Based Summaries</th>
      <th>Dosage Sensitivity Map - Haploinsufficiency</th>
      <th>Dosage Sensitivity Map - Triplosensitivity</th>
    </tr>
  </thead>
  <tbody>
    <% @genes.each do |g| %>
      <tr>
        <th scope="row"><%= link_to g[:symbol], gene_path(id: g[:hgnc_id]) %></th>
        <td><%= link_to(g[:validity].first, gene_path(id: g[:hgnc_id])) unless g[:validity].blank? %></td>
        <td><%= link_to("Summary Available", gene_path(id: g[:hgnc_id])) unless g[:actionability].blank? %></td>
        <td><%= dosage_summary_link(:haplo, g) %></td>
        <td><%= dosage_summary_link(:triplo, g) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
