<div id='condition1' name='condition1' class="row">
  <div class="col-sm-2">
    <h4>
    <%= link_to disease, :class => "text-black"  do %>
      <%= disease.label %> <i class="glyphicon glyphicon-search text-10px text-muted"></i>
    <% end %>
    </h4>
    <% disease.inspect %>
  </div>
  <div class="col-sm-10">
    <% if @diseases_detail[disease.iri] %>
      <%= render "gene_disease_assertions/validity_detail.html.erb", assertions: @validity, disease: disease, gene: @gene %>
      
    <% end %>

    <% if @dosage_detail[disease.iri] %>

      <% if @diseases_detail[disease.iri] %>
        <hr />
      <% end %>

      <%= render "gene_dosage/dosage_detail.html.erb", dosage: @dosage_detail[disease.iri] %>
    <% end %>
      
    <% if @actionability.length > 0 && @actionability_diseases.include?(disease.iri) %>
      <% if @diseases_detail[disease.iri] || @dosage_detail[disease.iri] %>
        <hr />
      <% end %>
      <%= render "shared/actionability_detail", actionability: @actionability, disease: disease, gene: @gene, index: :disease, index_id: disease.iri %>
    <% end %>
  </div>
</div>
