<div class="panel panel-default">
  <div class="panel-body">
    <div class='col-sm-5'>
      <dl class='dl-horizontal'>
        <dt>Official Name</dt>
        <dd><%= @gene.symbol %></dd>
        <dt>HGNC ID</dt>
        <dd><%= @gene.hgnc_id %></dd>
        <dt>Cytogenetic Location</dt>
        <dd><%= @gene.location %></dd>
        <!--<dt>Genomic Coordinates</dt>
        <dd>chr13: 32,889,617-32,973,809 (GRCh38)</dd>
        <dd>chr13: 32,889,617-32,973,809 (GRCh37)</dd>-->
        <% if @gene.dosage_assertions.present? %>
        <dt>Haploinsufficiency</dt>
        <dd><% if a = @gene.dosage_assertions.select {|i| i.haplo_assertion?}.first %>
                          <a href="https://www.ncbi.nlm.nih.gov/projects/dbvar/clingen/clingen_gene.cgi?sym=<%= @gene.symbol %>&subject=" target="ncbi" class="text-black"> <%= a.interpretation.first.label %>  <i class="glyphicon glyphicon-new-window text-sm text-muted"></i></a>
                        <% end %></dd>

        

        <dt>Triplosensitivity</dt>
        <dd><% if a = @gene.dosage_assertions.select {|i| i.triplo_assertion?}.first %>
                          <a href="https://www.ncbi.nlm.nih.gov/projects/dbvar/clingen/clingen_gene.cgi?sym=<%= @gene.symbol %>&subject=" target="ncbi" class="text-black"><%= a.interpretation.first.label %> <i class="glyphicon glyphicon-new-window text-sm text-muted"></i> </a>
                        <% end %></dd>
        <% end %>
      </dl>
    </div>
    <div class='col-sm-7'>
      <dl class='dl-horizontal'>
         <% if @diseases.present? %>
        <dt>Curated Conditions</dt>
        <dd>
          <% @diseases.each do |d| %>
            <%= link_to d.label, d, {class: "btn btn-xs btn-default"} %>
          <% end %>
        </dd>
        <% end %>
        <dt>External Resources</dt>
        <dd>
            <%= link_to gene_external_resources_path(@gene), :class => "text-black"  do %>
              View external resources
            <% end %>
        </dd>

        <dt>ClinVar Variants</dt>
        <dd><a href="#variants" class="text-black">View ClinVar Variants  <i class="glyphicon glyphicon-new-window text-sm text-muted"></i></a></dd>
        <!-- <a href='#condition1' class="label label-primary">Breast cancer</a> <a href='#condition2' class="label label-primary">Gastric cancer</a> -->
        </dd>
        <dt>GeneReviews&reg;</dt>
        <dd><a href="#" class="text-black">Learn more  <i class="glyphicon glyphicon-new-window text-sm text-muted"></i></a></dd>
      </dl>
    </div>
  </div>
