<div id='condition1' name='condition1' class="row">
  <div class="col-sm-2">
    <h4>
   
    </h4>
  </div>
  <div class="col-sm-10">
      <table class="table table-hover  border-left table-condensed">
          <thead>
            <tr>
              <th class="col-sm-12" colspan="2">Dosage Sensitivity</th>
            </tr>
          </thead>
          <thead class="thead-labels">
            <tr>
              <th class="col-sm-10">Description</th>
              <th class="col-sm-2 text-center">Date</th>
            </tr>
          </thead>
          <tbody>
            <% if a = @gene.dosage_assertions.select {|i| i.haplo_assertion?}.first %>
              <tr>
                <td><a id="external_gene_dosage_sensitivity" target="_blank" href="<%= gene_dosage_sensitivity("url", @gene.symbol) %>"><strong><%= a.interpretation.first.label %> <i class="glyphicon glyphicon-info-sign text-sm text-muted"></i></strong></a></td>
                <td class="text-center"><%= mdy_date(a.date) %></td>
              </tr>
            <% end %>
            <% if a = @gene.dosage_assertions.select {|i| i.triplo_assertion?}.first %>
              <tr>
                <td><a id="external_gene_dosage_sensitivity" target="_blank" href="<%= gene_dosage_sensitivity("url", @gene.symbol) %>"><strong><%= a.interpretation.first.label %> <i class="glyphicon glyphicon-info-sign text-sm text-muted"></i></strong></a></td>
                <td class="text-center"><%= mdy_date(a.date) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
  </div>
</div>
