  <div class="panel panel-primary">
    <div class="panel-heading" role="tab" id="headingNone">
      <h3 class="panel-title">
          <i> <%= @gene.symbol %> </i>
      </h3>
    </div>
    <div id="collapseNone" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingNone">
        <table class="panel-body table table-hover">
          <thead class="thead-labels">
            <tr>
              <th class="col-sm-3 th-curation-group text-left">Curated by</th>
              <th class="col-sm-6 text-left"> Classification</th>
              <th class="col-sm-2 text-center">Date</th>
              <th class="col-sm-1 text-center">Report</th>
            </tr>
          </thead>
          <tbody>
            <% if a = @gene.dosage_assertions.select {|i| i.haplo_assertion?}.first %>
              <tr>
                <td><%= info_popover("gene-dosage", "help", "" ,"logo-inline") %></td>
                <td>
                  <%= info_popover("gene-curation", "score", a.interpretation.first.label , "strong") %>
                </td>
                <td class="text-center"><%= mdy_date(a.date) %></td>
                <td class=" text-center">
                  <a id="external_gene_dosage_sensitivity" target="_blank" class="btn btn-xs btn-success" href="<%= gene_dosage_sensitivity("url", @gene.symbol) %>">View report</a>
                </td>
              </tr>
            <% end %>
            <% if a = @gene.dosage_assertions.select {|i| i.triplo_assertion?}.first %>
              <tr>
                <td>
                  <%= info_popover("gene-dosage", "help", "" ,"logo-inline") %>  
                </td>
                <td>
                  <%= info_popover("gene-curation", "score", a.interpretation.first.label , "strong") %>
                </td>
                <td class="text-center"><%= mdy_date(a.date) %></td>
                <td class=" text-center">
                  <a id="external_gene_dosage_sensitivity" target="_blank" class="btn btn-xs btn-success" href="<%= gene_dosage_sensitivity("url", @gene.symbol) %>">View report</a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
  </div>
</div>
