<% 
  ## Clear the CSS set above
  render_css_border = ""
  render_logo_inline = info_popover("gene-dosage", "help", "" ,"logo-inline")
%>
  <div class="panel panel-primary">
    <div class="panel-heading" role="tab" id="headingNone">
      <h3 class="panel-title">
          <i> <%= @gene.symbol %> </i>
      </h3>
    </div>
    <div id="collapseNone" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingNone">
        <table class="panel-body table table-hover">
          <thead class="thead-labels">
            <tr>
              <th class="col-sm-3 th-curation-group text-left">Curated by</th>
              <th class="col-sm-4 text-left"> Classification</th>
              <th class="col-sm-2 text-center"></th>
              <th class="col-sm-2 text-center">Date</th>
              <th class="col-sm-1 text-center">Report</th>
            </tr>
          </thead>
          <tbody>
            <% if a = @gene.dosage_assertions.select {|i| i.haplo_assertion?}.first %>
              <tr>
                <td class='<%= render_css_border %>'><%= render_logo_inline %></td>
                <td class='<%= render_css_border %>'>
                  <%= info_popover("gene-dosage", "score", a.interpretation.first.label , "strong") %>
                </td>
                <td class="text-center <%= render_css_border %>"></td>
                <td class="text-center <%= render_css_border %>"><%= mdy_date(a.date) %></td>
                <td class=" text-center <%= render_css_border %>">
                  <a id="external_gene_dosage_sensitivity" target="_blank" class="btn btn-xs btn-success" href="<%= gene_dosage_sensitivity("url", @gene.symbol) %>">View report</a>
                </td>
              </tr>
            <% 

            render_css_border = "border-0"
            render_logo_inline = ""
            end 
            %>
            <% if b = @gene.dosage_assertions.select {|i| i.triplo_assertion?}.first %>
              <tr>
                <td class='<%= render_css_border %>'>
                  <%= render_logo_inline %>  
                </td>
                <td class='<%= render_css_border %>'>
                  <%= info_popover("gene-dosage", "score", b.interpretation.first.label , "strong") %>
                </td>
                <td class="text-center <%= render_css_border %>"></td>
                <td class="text-center <%= render_css_border %>"><%= mdy_date(b.date) %></td>
                <td class=" text-center <%= render_css_border %>">
                  <a id="external_gene_dosage_sensitivity" target="_blank" class="btn btn-xs btn-success" href="<%= gene_dosage_sensitivity("url", @gene.symbol) %>">View report</a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
  </div>
</div>
