<div id="genes_show" class="container">
</div>
<div id="genes_show_summary" role="tabpanel" class="tab-pane active  container results_curation_summary">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="padding-top-xs">
        <%= render 'shared/agent_links_show_views' %>

        <strong><%= @gene.symbol %></strong>
      </h2>
      <%= render 'gene_facts' %>

    </div>
  </div>
  <div class="col-sm-12">
    <div class="">
      <ul class="nav nav-tabs">        
        <li class="active">
          <a href="#summary">
            ClinGen's Curation Summaries
          </a>
        </li> 
        <!-- <li class="">
             <a href="#variants">
             ClinVar Variants <span class="badge">#####</span>
             </a>
             </li> -->
        <li class="">
          <%= link_to "External Genomic Resources", gene_external_resources_genes_path(@gene) %>
        </li>
      </ul>
      <div class="panel panel-default">
        <div class="panel-heading" id='results_curation_summary_heading'>
          <div class="row"><div class="col-sm-2">
            Condition
          </div>
          <div class="col-sm-10 ">
            <span class="border-left">ClinGen Curation Results</span>
          </div>
          </div>
        </div>
        <div id='results_curation_summary_details' class="panel-body results_curation_summary_details">
          <% if @diseases.present? %>
            <% @diseases.each do |d| %>
              <%= render 'disease_detail', disease: d %>
              <hr class="results_curation_summary_details_spacer" />
            <% end %>
          <% else %>
            <div class="alert alert-info text-center" role="alert">
              <strong><%= @gene.symbol %></strong> has not been curated.  <%= link_to "ClinGen compiled a list of external genomic resources", gene_external_resources_genes_path(@gene) %> with direct links to information about <%= @gene.symbol %>.
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
