
<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= pageTitle(@pageTitle) %></title>

    <!-- Bootstrap core CSS -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
     <% if Rails.env == 'production' %>
     ga('create', 'UA-49947422-1', 'auto');
     <% else %>
     // NOTE please review the following notes
     // 8 = ClinGen Analytics Genetic TESTING Account - Education WG
     // The live site should be updated with the proper tracking codes.
     ga('create', 'UA-49947422-8', 'auto');
     <% end %>
     <% if @analyticsDimension1 %>
     ga('set', 'dimension1', '<%=@analyticsDimension1 %>');  
     //Curated Gene
     <% end %>
     <% if @analyticsDimension2 %>
     ga('set', 'dimension2', '<%=@analyticsDimension2 %>');  
     //Curated Condition
     <% end %>
     <% if @analyticsDimension3 %>
     ga('set', 'dimension3', '<%=@analyticsDimension3 %>');  
     //Non-curated Gene
     <% end %>
     <% if @analyticsDimension4 %>
     ga('set', 'dimension4', '<%=@analyticsDimension4 %>');  
     //Non-curated Condition
     <% end %>
     <% if @analyticsDimension5 %>
     ga('set', 'dimension5', '<%=@analyticsDimension5 %>');  
     //Queried Term
     <% end %>
     <% if @analyticsDimension6 %>
     ga('set', 'dimension6', '<%=@analyticsDimension6 %>');  
     //Non-curated Drug
     <% end %>
     <% if @analyticsDimension7 %>
     ga('set', 'dimension7', '<%=@analyticsDimension7 %>');  
     //Page type
     <% end %>
     ga('send', 'pageview');
    </script>


  </head>

  <body>

    
<div class="section-heading section-heading-groups">
  <div class="container text-right small text-muted">
    <div class="container">
                <ul class="list-inline pull-right m-0 p-1">
          <li class="">
            <a class=" text-white" href="https://mkg-stage.clinicalgenome.org/share-your-data/"><span class="visible-inline-md visible-inline-lg visible-inline-xl">Laboratory &amp; Clinician</span> Data Sharing Resources</a>
          </li>
          <li class="">
            <a class=" text-white" href="https://mkg-stage.clinicalgenome.org/genomeconnect/">GenomeConnect</a>
          </li>
          <li class="visible-inline-md visible-inline-lg visible-inline-xl">
            <a class=" text-white" href="https://mkg-stage.clinicalgenome.org/about/events/">Events</a>
          </li>
        </ul>
      </div>
  </div>
    </div>



    

    <header>

      <nav class="navbar navbar-light">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="btn btn-lg mt-4 btn-outline-primary navbar-toggle pull-right collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              Navigation <i class="fas fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/"><%= image_tag("logo-clinical-genome-logo-vector.svg", alt:"ClinGen - Clinical Genome Project", style: "height:80px", id: "header_logo_img", class: "img-fluid p-0") %></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right mt-4">
              
            
    <li class="nav-item   ">
      <a class="nav-link nav-link-header " href="https://mkg-stage.clinicalgenome.org/start/">Get Started </a>
      
    </li>
  
    <li class="nav-item   dropdown">
      <a class="nav-link nav-link-header dropdown-toggle" href="https://mkg-stage.clinicalgenome.org/about/">About Us </a>
      
    
    </li>
  
    <li class="nav-item  active dropdown">
      <a class="nav-link nav-link-header dropdown-toggle" href="https://mkg-stage.clinicalgenome.org/curation-activities/">Curation Activities </a>
      
    <ul class=" row dropdown-menu dropdown-width-normal  dropdown-menu-right dropdown-menu-lg-left">
        <li class="nav-item ">
          <a class="nav-link nav-link-header" href="https://mkg-stage.clinicalgenome.org/curation-activities/gene-disease-validity/"><span class=" d-inline-block text-truncate"> Gene-Disease Validity</span></a>
        </li>
      
          <li class="nav-item ">
            <a class="nav-link nav-link-small pl-4" href="https://mkg-stage.clinicalgenome.org/curation-activities/gene-disease-validity/training-materials/"><span class=" d-inline-block text-truncate"><i class="fas fa-angle-double-right text-muted-more"></i> Training Materials</span></a>
          </li>
        
          <li class="nav-item ">
            <a class="nav-link nav-link-small pl-4" href="/kb/gene-validity"><span class=" d-inline-block text-truncate"><i class="fas fa-angle-double-right text-muted-more"></i> Browse Curations</span></a>
          </li>
        
        <li class="nav-item ">
          <a class="nav-link nav-link-header" href="https://mkg-stage.clinicalgenome.org/curation-activities/variant-pathogenicity/"><span class=" d-inline-block text-truncate"> Variant Pathogenicity</span></a>
        </li>
      
          <li class="nav-item ">
            <a class="nav-link nav-link-small pl-4" href="https://mkg-stage.clinicalgenome.org/curation-activities/variant-pathogenicity/training-materials/"><span class=" d-inline-block text-truncate"><i class="fas fa-angle-double-right text-muted-more"></i> Training Materials</span></a>
          </li>
        
          <li class="nav-item ">
            <a class="nav-link nav-link-small pl-4" href="https://erepo.clinicalgenome.org/evrepo/"><span class=" d-inline-block text-truncate"><i class="fas fa-angle-double-right text-muted-more"></i> Browse Curations</span></a>
          </li>
        
        <li class="nav-item ">
          <a class="nav-link nav-link-header" href="https://mkg-stage.clinicalgenome.org/curation-activities/clinical-actionability/"><span class=" d-inline-block text-truncate"> Clinical Actionability</span></a>
        </li>
      
          <li class="nav-item ">
            <a class="nav-link nav-link-small pl-4" href="https://mkg-stage.clinicalgenome.org/curation-activities/clinical-actionability/training-materials/"><span class=" d-inline-block text-truncate"><i class="fas fa-angle-double-right text-muted-more"></i> Training Materials</span></a>
          </li>
        
          <li class="nav-item ">
            <a class="nav-link nav-link-small pl-4" href="/kb/actionability"><span class=" d-inline-block text-truncate"><i class="fas fa-angle-double-right text-muted-more"></i> Browse Curations</span></a>
          </li>
        
        <li class="nav-item ">
          <a class="nav-link nav-link-header" href="https://mkg-stage.clinicalgenome.org/curation-activities/dosage-sensitivity/"><span class=" d-inline-block text-truncate"> Dosage Sensitivity</span></a>
        </li>
      
          <li class="nav-item ">
            <a class="nav-link nav-link-small pl-4" href="https://mkg-stage.clinicalgenome.org/curation-activities/dosage-sensitivity/training-materials/"><span class=" d-inline-block text-truncate"><i class="fas fa-angle-double-right text-muted-more"></i> Training Materials</span></a>
          </li>
        
          <li class="nav-item ">
            <a class="nav-link nav-link-small pl-4" href="/kb/gene-dosage"><span class=" d-inline-block text-truncate"><i class="fas fa-angle-double-right text-muted-more"></i> Browse Curations</span></a>
          </li>
        
          <li class="divider"></li>
        
        <li class="nav-item ">
          <a class="nav-link nav-link-header" href="https://mkg-stage.clinicalgenome.org/curation-activities/results/"><span class=" d-inline-block text-truncate"> Browse All ClinGen's Curated Genes</span></a>
        </li>
      </ul>
    </li>
  
    <li class="nav-item   dropdown">
      <a class="nav-link nav-link-header dropdown-toggle" href="https://mkg-stage.clinicalgenome.org/working-groups/">Working Groups </a>
    </li>
  
    <li class="nav-item   dropdown">
      <a class="nav-link nav-link-header dropdown-toggle" href="https://mkg-stage.clinicalgenome.org/affiliates/">Expert Panels </a>
    
    </li>
  
    <li class="nav-item   dropdown">
      <a class="nav-link nav-link-header dropdown-toggle" href="https://mkg-stage.clinicalgenome.org/docs/">Documents <span class="visible-inline-lg hidden-md visible-inline-xl visible-inline-sm visible-inline-xs"> &amp; Announcements</span> </a>
      
     
    
    </li>
  
    <li class="nav-item   ">
      <a class="nav-link nav-link-header " href="https://mkg-stage.clinicalgenome.org/tools/">Tools </a>
      
    
    </li>
    <li class="navbar-text navbar-text-hover" id="navSearchToggle"><i class="fas fa-search text-muted"></i></li>
              </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        <div id="navSearchBar">
          <div class="container">
            
            
  <div class="row search_bar" id="">
      <div class="col-md-9">
        <table class="w-100">
          <tr>
            <td style="width:1%">
        <div class="input-group">
          <div class="input-group-btn p-0 m-0">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search: <span class="typeQueryLabel">Gene</span></button>
            <ul class="dropdown-menu">
              <li class="typeQueryGene"><span class="a-link">Gene</span></li>
              <li class="typeQueryDisease"><span class="a-link">Disease</span></li>
              <li><a class="" target="allele_reg" href="http://reg.clinicalgenome.org"><i class="fas fa-external-link-alt float-right mt-1 text-muted"></i> Variant</a></li>
              <li role="separator" class="dropdown-divider"></li>
              <li><a class="" href="https://mkg-stage.clinicalgenome.org/search/"><i class="fas fa-external-link-alt float-right mt-1 text-muted"></i>Website Search</a></li>
            </ul>
          </div>
        </div>
        </td>
        <td>
          <%= form_tag(home_index_path, method: "get", id:"form_search_gene", class: "inputQueryGene pb-0 mb-0") do %>
            <table>
              <tr>
                <td>
                  <%= text_field_tag :term, "", class: 'form-control border-radius-none w-100 queryGene', placeholder: 'Gene...' %>
                </td>
                <td style="width:1%">
                  <span class="input-group-btn">
                    <input class="btn btn-default"  type="submit" value="Go">
                  </span>
                </td>
              </tr>
            </table>
          <% end %>
          <%= form_tag(home_index_path, method: "get", id:"form_search_disease", class: "inputQueryDisease pb-0 mb-0", style:"display:none") do %>
            <table>
              <tr>
                <td>
                  <%= text_field_tag :term, "", class: 'form-control border-radius-none w-100 queryDisease', placeholder: 'Disease...' %>
                </td>
                <td style="width:1%">
                  <span class="input-group-btn">
                    <input class="btn btn-default"  type="submit" value="Go">
                  </span>
                </td>
              </tr>
            </table>
          <% end %>
        </td>
        </table>
      </div> 
      <div class="col-md-3">
        <div class="dropdown">
          <a class="btn btn-block btn-outline-light bg-primary text-white strong dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Browse Curations
          </a>
          <div class="dropdown-menu border-radius-sm  dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="/curation-activities/">About ClinGen's Curation Activities</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/kb/curations/"><span class="text-muted">Browse</span> All Curated Genes</a></li>
            <li><a class="dropdown-item" href="/kb/gene-validity/"><span class="text-muted">Browse</span> Gene-Disease Validity</a></li>
            <li><a class="dropdown-item" href="/kb/gene-dosage/"><span class="text-muted">Browse</span> Dosage Sensitivity</a></li>
            <li><a class="dropdown-item" href="/kb/actionability/"><span class="text-muted">Browse</span> Clinical Actionability</a></li>
            <li><a class="dropdown-item" href="https://erepo.clinicalgenome.org/evrepo/"><span class="text-muted">Browse</span> Variant Pathogenicity</a></li>
            
          </div>
        </div>
      </div>
    </div>



      </nav>
  </header>

    <main id="section_main" role="main">

      <section id="section_heading" class="section-heading section-heading-groups text-light pb-2 pt-2">
  <div class="container">
    <div class="">
      <div class="content ">
        <div class="section-heading-content">
<h1 class="h1 text-truncate"><%= @pageTitle %></h1>
    </div>

  </div>
</section>
      <section id="section_content" class="container">

        <%= yield %>

      </section>

    </main>


    
    <div class="" id="clingen_contact">
      <a href="https://mkg-stage.clinicalgenome.org/contact/share-feedback/?title=<%= url_encode(@pageTitle) %>&page=<%= url_encode(request.original_url) %>&ref=<%= defined?(@feedback_tool) ? @feedback_tool : "edwg" %>">
        <i class="far fa-envelope clingen_contact_icon"></i>
      <div class="">Send Feedback</div>
      </a>
    </div>

    <footer class="text-muted">
      <div id="section_footer" class="container">
        <div class="row small">
  
  <div class="col-12">
    <hr>
  The information on this website is not intended for direct diagnostic use or medical decision-making without review by a genetics professional. Individuals should not change their health behavior solely on the basis of information contained on this website. If you have questions about the information contained on this website, please see a health care professional.
    <hr>
  </div>
  
  
 
</div>        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p> © ClinGen</p>
      </div>
    </footer>




  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script>
       
      $( "#navSearchToggle" ).click(function() {
        $( "#navSearchBar" ).toggle();
      });
    </script>

    <script>
      $( ".typeQueryGene" ).click(function() {
        $( ".inputQueryGene" ).show();
        $( ".inputQueryDisease" ).hide();
        $( ".typeQueryLabel").text("Gene");
      });
      $( ".typeQueryDisease" ).click(function() {
        $( ".inputQueryGene" ).hide();
        $( ".inputQueryDisease" ).show();
        $( ".typeQueryLabel").text("Disease");
      });
      
      
      var term = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('label'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: {
          url: '/kb/home.json?term=%QUERY',
          wildcard: '%QUERY'
        }
      });
      
      var termGene = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('label'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: {
          url: '/kb/home.json?termGene=%QUERY',
          wildcard: '%QUERY'
        }
      });
      
      var termDisease = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('label'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: {
          url: '/kb/home.json?termDisease=%QUERY',
          wildcard: '%QUERY'
        }
      });


      $('.queryTerm').typeahead(null,
      {
        name: 'term',
        display: 'label',
        source: term,

        limit: 20,
        minLength: 3,
        highlight: true,
        hint: false,
        autoselect:true,
      }).bind('typeahead:selected',function(evt,item){
        window.location = item.url;
      });
      
      $('.queryDisease').typeahead(null,
      {
        name: 'termDisease',
        display: 'label',
        source: termDisease,

        limit: 20,
        minLength: 3,
        highlight: true,
        hint: false,
        autoselect:true,
      }).bind('typeahead:selected',function(evt,item){
        window.location = item.url;
      });
      
      $('.queryGene').typeahead(null,
      {
        name: 'termGene',
        display: 'label',
        source: termGene,

        limit: 20,
        minLength: 3,
        highlight: true,
        hint: false,
        autoselect:true,
      }).bind('typeahead:selected',function(evt,item){
        window.location = item.url;
      });

    </script>
    
    <script type="text/javascript">

      $(document).ready(function () {
        $('#filter_list :checkbox').click(function () {
          if ($('input:checkbox:checked').length) {
            $('#list_documentation_table li').hide();
            $('input:checkbox:checked').each(function () {
              $('li[data-' + $(this).prop('name') + '*="' + $(this).val() + '"]').show();
            });
          } else {
            $("#list_documentation_table li").show();
          }
        });
      });

    </script>
  
</body></html>



