<!DOCTYPE html>
<html>
  <head>
    <title>ClingenKnowledge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      // NOTE please review the following notes
      // 8 = ClinGen Analytics Genetic TESTING Account - Education WG
      // The live site should be updated with the proper tracking codes.
      ga('create', 'UA-49947422-8', 'auto');
      ga('send', 'pageview');

    </script>

    <%= stylesheet_link_tag "http://clingen-pw3-v2.creationproject.net/site/templates/assets/css/rebrand.css" %>
    <%= stylesheet_link_tag "http://clingen-pw3-v2.creationproject.net/site/templates/assets/css/helpers.css" %>
  </head>

  <body>

<div id="header_nav_micro">
    <div class="container container-trans">
      <div class="clearfix row">
        
         <nav id='nav_micro' class=" hidden-sm hidden-xs">
              <ul class='list-inline'>
        <li class=''>
          <a class='' href='#' title='$' >Contact</a>
        </li>
        <li class=''>
          <a class='' href='#' title='$' >Site Search</a>
        </li>
        <li class=''>
          <a class='' href='#' title='$' >News &amp; Announcements</a>
        </li></ul>          </nav>
          <ol class='pull-left breadcrumb'><li class=''><a href='http://clingen-pw3-v2.creationproject.net/' class='' title=''>ClinGen</a></li></ol>      </div>
    </div>
  </div>
  <div id="header_nav_micro_tray" style="display:none">
    <div class="container">
      <div class="clearfix row">
        Buttons
      </div>
    </div>
  </div>
  <div id="header_nav_main">
      <div class="container">
        <div class="header clearfix row">
          <div id='header_logo_div' class="text-muted pull-left">
            <a id='header_logo_href' href="/">
              <img  id='header_logo_img' src="http://clingen-pw3-v2.creationproject.net/site/templates/assets/rebrand/logo/logo.png" alt="" />
            </a>
          </div>
          <div id='nav_mobile' class="dropdown pull-right visible-sm visible-xs">
            <button id="SiteNav" class="btn btn-default" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Navigation
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="SiteNav">
              <ul class='nav nav-pills pull-right'>

          <li class='' role='presentation' id='ref_1001' >
            <a class='' href='http://clingen-pw3-v2.creationproject.net/about/' title='' >About</a>
          </li> 
          <li class='' role='presentation' id='ref_5297' >
            <a class='' href='http://clingen-pw3-v2.creationproject.net/clingen-tools/' title='' >Resources &amp; Tools</a>
          </li>
          <li class='' role='presentation' id='ref_1119' >
            <a class='' href='http://clingen-pw3-v2.creationproject.net/genomeconnect/' title='' >GenomeConnect</a>
          </li>
          <li class='' role='presentation' id='ref_5396' >
            <a class='' href='http://clingen-pw3-v2.creationproject.net/share-your-data/' title='' >How to share your data</a>
          </li>
          <li class='' role='presentation' id='ref_5397' >
            <a class='' href='http://clingen-pw3-v2.creationproject.net/curation-starts-here/' title='' >Learn about ClinGen curation activities</a>
          </li></ul>
          </div>
            <%= form_tag(home_index_path, method: "get") do %>
              <div id='header_search' class="input-group">
                <%= text_field_tag :term, "", class: 'form-control search-typeahead', placeholder: 'Search our knowledge-base for genes and diseases...' %>
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                </span>
              </div>
            <% end %>
          <nav id='nav_primary' class=" hidden-sm hidden-xs">
              <ul class='nav nav-pills pull-right'>
          <li class='' role='presentation' id='ref_1001' >
            <a class='' href='http://clingen-pw3-v2.creationproject.net/about/' title='' >About</a>
          </li>
          <li class='' role='presentation' id='ref_5297' >
            <a class='' href='http://clingen-pw3-v2.creationproject.net/clingen-tools/' title='' >Resources &amp; Tools</a>
          </li>
          <li class='' role='presentation' id='ref_1119' >
            <a class='' href='http://clingen-pw3-v2.creationproject.net/genomeconnect/' title='' >GenomeConnect</a>
          </li>
          <li class='' role='presentation' id='ref_5329' >
            <a class='' href='http://clingen-pw3-v2.creationproject.net/share-your-data/' title='' >How to share your data</a>
          </li>
          <li class='' role='presentation' id='ref_5296' >
            <a class='' href='http://clingen-pw3-v2.creationproject.net/curation-starts-here/' title='' >Learn about ClinGen curation activities</a>
          </li></nav>
          
        </div>
      </div>
  </div>
<div id="header_highlight" class="container-fluid container-trans">  </div>
  
  <% if @notice.present? %>
    <div class="alert alert-warning" role="alert"><%= notice %></div>
  <% end %>
  <% if @alert.present? %>
    <div class="alert alert-danger" role="alert"><%= alert %></div>
  <% end %>
<div class="container search-content-header">
  <div class="row">
    <div class="col-sm-12">
      <div class="pull-right search-content-header-buttons ">
        <div class="btn-group" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-hover" data-hover="dropdown" aria-haspopup="true" aria-expanded="false">
              ClinGen Curated <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <%= link_to gene_disease_assertions_path, :class => ""  do %>
                  Gene Validity Curations
                <% end %>
              </li>
              <li>
                <%= link_to gene_dosage_index_path, :class => ""  do %>
                  Gene Dosage Curations
                <% end %>
              </li>
              <li>
                <%= link_to actionability_assertions_path, :class => ""  do %>
                  Actionability Curations
                <% end %>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <%= link_to conditions_path, :class => ""  do %>
                  Curated Conditions
                <% end %>
              </li>
              <li>
                <%= link_to genes_path, :class => ""  do %>
                  Curated Genes
                <% end %>
              </li>
            </ul>
          </div>
        <% if agent_signed_in? %>
          <div class="btn-group" role="group">
            <%= link_to dashboard_index_path, :class => "btn btn-default dropdown-toggle", :data => { :'hover' => 'dropdown' }  do %>
              <i class="glyphicon glyphicon-th-list"></i> <%= current_agent.first_name %>'s Dashboard <span class="caret"></span>
            <% end %>
            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <%= link_to dashboard_index_path, :class => ""  do %>
                  <i class="glyphicon glyphicon-th-list"></i> <%= current_agent.first_name %>'s Dashboard
                <% end %>
              </li>
              <li>
                <%= link_to edit_agent_registration_path, :class => ""  do %>
                  <i class="glyphicon glyphicon-user"></i> Manage Profile
                <% end %>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <%= link_to destroy_agent_session_path, :method => :delete, :class => ""  do %>
                  <i class="glyphicon glyphicon-off text-danger"></i> Sign-out
                <% end %>
              </li>
            </ul>
          </div>
        <% else %>
          <%= link_to agent_session_path, :method => :get, :class => "btn btn-default"  do %>
          <i class="glyphicon glyphicon-th-list"></i>
            <span class="">Knowledge-Base Sign-in</span>
          <% end %>
          <%= link_to new_agent_registration_path, :method => :get, :class => "btn btn-default"  do %>
          <i class="glyphicon glyphicon-bookmark"></i>
            <span class="">Sign-up</span>
          <% end %>
        <% end %>
      </div>
    </div>
    <h1>
    <%= link_to root_path, :method => :get, :class => "text-black"  do %>
          Knowledge-Base
    <% end %>
    </h1>
  </div>
  </div>
</div>
  <%= yield %>


<div id="footer" class="container  background-trans padding-top-xl">


<div id="" class="text-center visible-xs visible-sm hidden-print"><br><a name="footnav" id="footnav"></a>
          <div><a class="btn btn-default btn-lg  btn-block" href="http://clingen-pw3-v2.creationproject.net/clingen-tools/" title="">Resources &amp; Tools</a></div><div><a class="btn btn-default btn-lg  btn-block" href="http://clingen-pw3-v2.creationproject.net/genomeconnect/" title="">GenomeConnect</a></div><div><a class="btn btn-default btn-lg  btn-block" href="http://clingen-pw3-v2.creationproject.net/about/" title="">About</a></div><div><a class="btn btn-default btn-lg  btn-block" href="http://clingen-pw3-v2.creationproject.net/share-your-data/" title="">How to share your data</a></div><div><a class="btn btn-default btn-lg  btn-block" href="http://clingen-pw3-v2.creationproject.net/curation-starts-here/" title="">Learn about ClinGen curation activities</a></div><div><a class="btn btn-default btn-lg  btn-block" href="/consent-form-test/" title="">Consent Form Test</a></div>        </div>

        <div class="row">
                <div id="footer_disclaimer" class="col-md-12 text-sm text-muted">
                  <hr>
                  The information on this website is not intended for direct diagnostic use or medical decision-making without review by a genetics professional. Individuals should not change their health behavior solely on the basis of information contained on this website. If you have questions about the information contained on this website, please see a health care professional.
                  <hr>
                </div>
                <div class="col-md-4 col-sm-12 padding-sm"> 
                   <ul class="list-inline margin-none">
                      <li class="text-sm">© 2017 <a href="http://clingen-pw3-v2.creationproject.net/" title="ClinGen" class="">ClinGen</a> - All rights reserved</li>
                    </ul>
                </div>
        <div class="col-sm-8 padding-sm hidden-xs hidden-sm ">
        <ul class="list-inline margin-none pull-right ">
        
            </li>                  <li><a class="text-sm" href="http://clingen-pw3-v2.creationproject.net//site-map/">Site Map</a></li>
                  <li><a class="text-sm" href="http://clingen-pw3-v2.creationproject.net//contact/">Contact ClinGen</a></li>
        </ul>
        </div>
            </div>
        
</div>
  </body>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://www.clinicalgenome.org/site/templates/assets/js/bootstrap-hover-dropdown.js"></script>
</html>
